body{

    font-family: 'Open Sans', sans-serif!important;
    color: #273243!important;
    font-size: 15px!important;
    background: url('../img/bg.png') center repeat;
    width: 100%
}

#news{
    background-color: #ffffff;
    padding-bottom: 10px;
}
.center{
    width: 100%;
    text-align: center;
}
ul.breadcrumb {
    /* padding: 10px 16px; */
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: transparent;
    border-radius: 0!important;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}
ul.breadcrumb li a {
    color: #1a60b3;
    text-decoration: underline;
    padding: 0;
}
#breadcrumbs {
    padding-top: 40px;
    background-color: #fff!important;
}

.slider_menu {
    margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}
a.pagin-btn.btn-page:hover {
    color: #fff;
}
a.title:hover {
    color: #000;
    text-decoration: none;
}
.desc {
    padding: 0 15px;
    background: #f4f4f4;
    box-shadow: 0px 13px 24px -9px #808080;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 13px;
}
.pagination{
    padding-left: 30%!important;
    margin: 0!important;
}

.btn-caption{
    padding: 17px 46px 19px 45px;
}

.pagin-btn{
    color: #ffffff;
    font-size: 13px;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #2f3d63;;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    float: left;
} 

.btn-page{
    padding: 17px 21px;
    margin-right: 20px;
}
.desc {
    min-height: 172px;
}
a.title {
    font-size: 18px;
}
.item-news img{
    width: 100%;
    height: 200px;
    border-radius: 4px 4px 0 0px;
}
.no-padding2{
    padding: 5px !important;
}
.info {
    top: 46%;
    left: 5px
}
.item-news {
    padding-bottom: 30px;
}
.op {
    padding-top: 10px;
}
a.title {
    text-decoration: underline;
}


@media (min-width: 768px) and (max-width: 991px) {
    #requisites input{
        width: 100%;
        height: 50px;
    }
    #requisites textarea {
        display: none;}
}
@media (max-width: 767px) {

    #requisites input{
        width: 100%;
        height: 50px;
    }
    #requisites textarea {
        display: none;}
    #requisites form{
        margin-top: 250px;
    }
    .slider_menu {
        margin-bottom: 0px;
    }
    .contacts-logo {
        text-align: center !important;
    }
    .contacts-adress {
        padding-left: 0px!important; 
    }

}
@media (max-width: 715px) {
    nav.navbar.navbar-default {
        background-color: #f8f8f8 !important;}
    #requisites input{
        width: 100%;
        height: 50px;
    }
    .main-form {
        padding: 50px 20px !important;}
    #requisites button{
        margin-left: 10px;
    }
    .pagination {
        padding-left: 10%!important;
        margin: 0!important;
    }

}
@media (max-width: 480px) {
    .info {
        top: 44%;
        left: 5px;
    }

    .contacts-logo {
        text-align: left !important;
    }
    .btn-caption {
        padding: 12px 16px 12px 16px;
    }
    .btn-page {
        padding: 12px 15px;
        margin-right: 5px;
    }
    my_orders.css:460


    /*
    .contacts-adress {
    padding-left: 0px!important; 
}
    */

}