ul.breadcrumb li span {
    color: rgb(26, 96, 179);
}

ul.breadcrumb {
	text-align: center;
}

body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}

@media (min-width: 980px){
	.fix{
		width: 980px; 
		margin: 0 auto;
	}
}

.fix1{
	width: 1140px;
	margin: 0 auto;
}

.row{
	margin-right: auto!important;
    margin-left: auto!important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.title_section{
	font-size: 42px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 28px;
}

.text-blue{
	color: #1a60b3;
	text-decoration: underline;
}

.no-padding{
	padding: 0!important;
}

.line-through{
	text-decoration: line-through;
}

.block-230{
	max-width: 230px;
	height: 200px;
	border-radius: 4px;
	text-align: center;
	margin: 0 5px;
	position: relative;
}


/*card product*/
#card_product{
	padding: 40px 0;
	text-align: center;
	background-color: #ffffff;
}

#card_product .title_section{
	margin-bottom: 27px;
}

#card_product .breadcrumb{
	text-align: left;
}

#card_product ul.breadcrumb li:first-child{
	float: left;
}

#card_product ul.breadcrumb li:last-child{
	float: right;
}

ul.breadcrumb li+li:before {
    content: "";
}

@media (min-width: 980px){
	.shingles{
	max-width: 230px;
	margin: 10px 5px 0;
	box-shadow: 0 34px 60px rgba(0, 0, 0, 0.35);
	border-radius: 4px!important;
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
}

	.shingles:hover .shingles-price{
		display: block;
		background: #2b3143;
	}
	.shingles:hover .price{
		background: #2b3143;
		border-radius: 0 0 4px 4px!important;
	}
	.shingles:hover .bg_sells{
		background: #2b3143;
		border-top: 2px solid #fff;
		border-radius: 0 0 4px 4px!important;
	}
}

.products{
	margin-bottom: 40px;
	text-align: center;
}

.shingles:last-child{
	margin-right: 0;
}
.shingles:first-child{
	margin-left: 0;
}

#card_product .products img{
	width: 100%;
	height: 200px;
}

.bg_sells{
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
	padding-top: 20px;
	border-top: 2px solid transparent;
	border-radius: 0 0 4px 4px;
}

#card_product .title{
	color: #ffffff;
	line-height: 22px;
	text-decoration: underline;
	margin: 22px 0;
}

.price{
	color: #aec6f2;
	font-size: 24px;
	line-height: 22px;
	padding: 22px 0 29px;
	margin: 0;
}
.fa{
	color: #ffba01;
	padding-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.info{
	padding: 0 20px;
	z-index: 5;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	font-size: 12px;
	top: 56%;
	left: 0;
	box-shadow: 0 1px 0 #252525;
	border-radius: 0 12px 12px 0;
	background-color: #2b3143;
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.top_sells-btn{
	color: #ffffff;
	font-size: 13px;
	border: none;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #2f3d63;;
	background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
	float: left;
}

.btn-page{
	padding: 17px 21px;
	margin-right: 20px;
}

.btn-caption{
	padding: 17px 46px 19px 45px;
}

.top_sells-buttons{
	padding-left: 290px;
}

.top_sells-btn:hover{
	text-decoration: none;
	color:  #ffffff;
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.shingles-price{
	padding: 17px 15px 27px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: none;
}

#card_product form{
	text-align: center;
}

#card_product form > label{
	margin: 0 5px 0;
	line-height: 25px;
}

.radiobtn {
	display: inline-block;
}

.radiobtn + .radiobtn {
	margin-left: 5px;
}

.radiobtn input {
	display: none;	
}
.radiobtn label {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #69c;
	transition: .1s ease-in;
	margin: 0;
}

.radiobtn label:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 21px;
	height: 21px;
	border: 3px solid #2663c5;
	border-radius: 50%;
	transition: .1s ease-in;
}

.radiobtn label:after {
	opacity: 0;
}

.radiobtn label:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.radiobtn input:checked + label:after {
	opacity: 1;
}

.radiobtn label.color-red {background-color: #ce3838;}
.radiobtn label.color-green{background-color: #1e9150;}
.radiobtn label.color-blue{background-color: #417fd0;}
.radiobtn label.color-white{background-color: #dedcdc;}
.radiobtn label.color-grey{background-color: #696969;}
.radiobtn label.color-beige{background-color: #dda07e;}

.radiobtn label.color-red:after,
.radiobtn label.color-green:after,
.radiobtn label.color-blue:after,
.radiobtn label.color-white:after,
.radiobtn label.color-grey:after,
.radiobtn label.color-beige:after,
 {
	border-color: #2663c5;
}

#card_product input[type="text"]{
	border-radius: 15px 15px 15px 14px;
	border: 1px solid #a8b8de;
	background: transparent;
	color: #fff;
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

#card_product input[type="text"]:focus,
#card_product input[type="button"]:focus {
	outline:none;
}

#card_product input[type="text"]:-moz-placeholder {
	color: #fff;
}
#card_product input[type="text"]::-webkit-input-placeholder {
	color: #fff;
}

#card_product input[type="button"] {
	position: absolute; 
	top: 56px;
	border: none;
	background-color: transparent;
	font-size: 16px;
}

#card_product .plus{
	right: 80px;
}

#card_product .minus{
	left: 80px;
}

#card_product form button{
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	background-image: linear-gradient(30deg, #a8b8de 0%, #eaf4fa 100%);
	padding: 15px 50px;
	margin: 15px 0 8px;
}


#card_product form a{
	color: #aec6f2;
}

#card_product h3{
	color: #273243;
	font-size: 33px;
	font-weight: 300;
	line-height: 40px;
	text-align: left;
	padding: 30px 0 21px;
	margin: 0;
}

#card_product p.description{
	color: #273243;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
	padding: 0 0 36px;
}

#card_product ul.specifications{
	list-style-type: none;
	text-align: left;
	color: #273243;
	font-size: 14px;
	font-weight: 700;
	}

#card_product ul.values{
	list-style-type: none;
	text-align: left;
	color: #273243;
	font-size: 14px;
	font-weight: 300;
	padding-left: 25px;
	}

#card_product form p{
	padding: 0;
	margin: 0;
}

#card_product form.card{
	text-align: left;
	color: #273243;
	font-size: 11px;
	font-weight: 400;
}

.form_price{
	color: #2663c5;
	font-size: 28px;
	font-weight: 600;
	line-height: 48px;
}

#card_product form.card a{
	color: #273243;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
}

#card_product form.card span{
	text-transform: uppercase;
	color: #273243;
}

#card_product form.card .radiobtn {
	display: inline-block;
}

#card_product form.card .radiobtn + .radiobtn {
	margin-left: 9px;
}

#card_product form.card .radiobtn input {
	display: none;	
}
#card_product form.card .radiobtn label {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #69c;
	transition: .1s ease-in;
	margin: 0;
}

#card_product form.card .radiobtn label:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 21px;
	height: 21px;
	border: 3px solid #2663c5;
	border-radius: 50%;
	transition: .1s ease-in;
}

#card_product form.card .radiobtn label:after {
	opacity: 0;
}

#card_product form.card .radiobtn label:hover {
	transform: scale(1.2);
	cursor: pointer;
}

#card_product form.card .radiobtn input:checked + label:after {
	opacity: 1;
}

#card_product form.card .radiobtn label.color-red {background-color: #ce3838;}
#card_product form.card .radiobtn label.color-green{background-color: #1e9150;}
#card_product form.card .radiobtn label.color-blue{background-color: #417fd0;}
#card_product form.card .radiobtn label.color-white{background-color: #dedcdc;}
#card_product form.card .radiobtn label.color-grey{background-color: #696969;}
#card_product form.card .radiobtn label.color-beige{background-color: #dda07e;}

#card_product form.card .radiobtn label.color-red:after,
#card_product form.card .radiobtn label.color-green:after,
#card_product form.card .radiobtn label.color-blue:after,
#card_product form.card .radiobtn label.color-white:after,
#card_product form.card .radiobtn label.color-grey:after,
#card_product form.card .radiobtn label.color-beige:after,
 {
	border-color: #2663c5;
}

#card_product form.card label{
	color: #273243;
	font-size: 15px;
	margin: 0 ;
	padding: 0 10px 0 0 ;
}

.colors{
	margin-top: 37px;
}

#card_product form.buy button{
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
	border-radius: 4px;
	padding: 18px 40px;
}

#card_product form.buy button:hover{
	background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
 
}
#card_product form.buy a:hover{
	text-decoration: none;
}

#card_product form.buy i{
	background: url(../img/sale.png) center no-repeat;
	width: 20px;
	height: 18px;
	display: inline-block;
	margin-right: 15px;
}
#card_product form.buy a{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 20px;
}

#card_product form.buy input[type="text"]{
	border-radius: 15px 15px 15px 14px;
	border: 1px solid #273243;
	background: transparent;
	color: #273243;
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

#card_product form.buy input[type="text"]:focus,
#card_product form.buy input[type="button"]:focus {
	outline:none;
}

#card_product form.buy input[type="button"] {
	position: absolute; 
	bottom: -39px;
	border: none;
	background-color: transparent;
	font-size: 16px;
	padding: 10px;
}

#card_product form.buy input[type="text"]:-moz-placeholder {
	color: #273243;
}
#card_product form.buy input[type="text"]::-webkit-input-placeholder {
	color: #273243;
}
#card_product form.buy .plus{
	right: 80px;
}

#card_product form.buy .minus{
	left: 80px;
}

#card_product .house{
	width: 100%;
	height: 320px!important;
}

/*contacts*/


#contacts a, span{
	color: #fff;
}

.contacts-right{
	float: right;
}

.contacts-logo{
	text-align: center;	
}

.contacts-adress{
padding-left: 80px!important;}

/*footer*/
#footer{
	background-color: #1f2332;
	padding: 25px 0 10px;
	color: #3e4660;
	font-size: 13px;
	line-height: 25px;
}

.social{
	padding-left: 70px!important;
}

#footer a i{
	color: #fff;
	margin-left: 24px;
	float: left;
}

#footer a i:hover{
	color: #a8afcd;
}

.ontop{
	position: absolute;
	top: 0;
	right: 0;
}


/*info-block*/
.time, .mailto{
	float: left;
	font-size: 13px;
	color: #2d3a5c!important;
	padding: 20px 0 0;
}
#info-block {
	padding: 30px 0;
	position: relative;
}

#info-block a{
	text-decoration: none;
}

.info-upper{
	text-transform: uppercase;
	padding-top: 5px;
}

#info-block button{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px 47px;
	border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    border: none;
}

#info-block button:hover{
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.telto{
	color: #1e3f6e;
	font-size: 24px;
}

.information{
	text-align: center;
}

.mailto a{
	color: #2d3a5c;
}



/*header*/

#header{
	color: #fff;
	background-color: #2b3143;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

#header p{
	float: left;
	padding: 10px 20px;
	margin: 0;
}

.menu-left{
	float: left;
}

.menu-right{
	float: right;
}

.links-bg{
	background-color: #363d52;
	padding: 10px 0;
	color: #96a0ae;
	display: inline-block;
}

.links-bg a{
	color: #96a0ae!important;
}

.links{
	display: inline-block;
	padding: 10px 0;
	color: #fff;
}

#header a{
	margin: 0;
	padding: 0 20px;
	border-right: 1px solid #96a0ae;
	color: #fff;
}

#header a:hover{
	text-decoration: none;
}

#header a:last-child{
	border: none;
}

#header i{
	color: #fff;
}

#header i:hover{
	color: #fff;
}

/*menu*/

#menu{
	background-color: #2562c5;
	background-image: -webkit-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: -o-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
}

.navbar-collapse{
	padding: 22px 60px!important;
	border: none!important;
	box-shadow: none!important;
}

.navbar{
    position: relative;
    height: auto!important;
    margin: 0!important;
    border: none!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 32px;
	border-right: 1px solid #afcce2;
}

.navbar-default{
	box-shadow: none!important;
	border: none!important;
	background: transparent!important;
}

.navbar-default .navbar-nav>.active>a{
    background: transparent!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>li:last-child a{
	border-right:none;
}

/*breadcrumbs*/
#breadcrumbs{
	padding-top: 40px;
	background-color: #fff!important;
}
/* Style the list */
ul.breadcrumb {
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: #fff!important;
    border-radius: 0!important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    color: #273243;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #1a60b3;
	text-decoration: underline;
	padding: 0;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*slider*/

ul.bxslider{
	list-style-type: none;
	margin-top: 17px;
	position: relative;
	padding: 0 27px;
}

ul.bxslider li{
	display: inline-block;
	margin-right: 12px!important;
}

ul.bxslider li:last-child{
	padding-right: 0;
}

.bx-wrapper{
	margin-bottom: 0!important;
	webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: none!important;
	padding: 0 26px!important;
}

.bx-wrapper .bx-next {
	right: 0px!important;
	background: url(../bxslider/images/arrow-right.png) 17px 10px no-repeat!important;
}

.bx-wrapper .bx-prev {
	left: -14px!important;
	background: url(../bxslider/images/arrow-left.png) 17px 10px no-repeat!important;
}

.bx-viewport{
	height: 100%!important;
}

.bx-wrapper .bx-pager{
	display: none!important;
}
/*next or previous card*/

ul.breadcrumbs{
	list-style: none;
    padding: 0 0 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: #fff!important;
    border-radius: 0!important;
}

ul.breadcrumbs li {
    display: inline;
    color: #273243;
	margin-bottom: 26px!important;
}

ul.breadcrumbs li:first-child {
    float: left;
}

ul.breadcrumbs li:last-child {
    float: right;
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
    color: #1a60b3;
	text-decoration: underline;
	padding: 0 10px;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.photosgallery-captions {
    width: 490px;
    height: 405px;
    padding: 0 0 76px;
}
.photosgallery-captions .sliderkit-nav {
	width: 100%;
	background: transparent;
	padding: 0;
}

.sliderkit-btn.sliderkit-nav-btn.sliderkit-nav-prev.sliderkit-btn-disable a {
	background: url(../bxslider/images/arrow-left.png) no-repeat 1px!important;
}
.sliderkit-btn.sliderkit-nav-btn.sliderkit-nav-prev a{
		background: url(../bxslider/images/arrow-left.png) no-repeat 1px!important;
}
.photosgallery-captions .sliderkit-nav .sliderkit-nav-next{
	    background: url(../bxslider/images/arrow-right.png)  no-repeat 1px!important;
}
.photosgallery-captions .sliderkit-nav .sliderkit-nav-next  a{
	background: url(../bxslider/images/arrow-right.png) no-repeat 1px!important;
}
.sliderkit-nav {
    height: 65px;
}
.photosgallery-captions .sliderkit-nav-clip ul li a {
    display: block;
    width: 100px;
	height: 65px;
	margin-right: 5px;
}
.sliderkit-btn.sliderkit-go-btn.sliderkit-go-prev a {
    display: none;
}
.photosgallery-captions .sliderkit-nav .sliderkit-go-next a{
	display: none;
}
.sliderkit-panel-textbox {
    display: none;
}


.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
	#card_product form.buy input[type="button"]{
		top: 20px;
    	bottom: 10px;
	}
		#card_product form.buy .plus {
    right: 180px;
		
}
	#card_product form.buy .minus {
    left: 390px;
	}
	.shingles-price {
		width: 100%;}
	#card_product input[type="button"]{
		top:43px;
	}
	#card_product .plus {
    right: 310px;
}
	#card_product .minus {
    left: 310px;
}
}
@media (max-width: 767px) {
	.slider_menu {
    margin-bottom: 0px;

}
	.shingles-price {
		width: 100%;}
	#card_product input[type="button"]{
		top:43px;
	}
	#card_product .plus {
    right: 310px;
}
	#card_product .minus {
    left: 310px;
}
	img#lightbox-image {
    width: 100%;
}
	div#lightbox-container-image-box {
    width: 100% !important;
}
	div#lightbox-container-image-data-box {
    width: 100% !important;
}
	ul.nav.navbar-nav {
 
    text-align: left;
}
	#card_product form.buy input[type="button"] {
		top: 22px;
	bottom: 12px;
}
	#card_product form.buy .plus {
    right: 180px;
		
}
	#card_product form.buy .minus {
    left: 390px;
	}
	.photosgallery-captions .sliderkit-panel {
		width: 100%}
	.sliderkit img {
		width: 100%;}
	
	.photosgallery-captions {
			width: 100%;}
	.sr-only {
    	margin-right: 40% !important;}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}
@media (max-width: 715px) {
		#card_product input[type="button"]{
		top:33px;
	}
		#card_product .plus {
    right: 50px;
}
	#card_product .minus {
    left: 230px;
}
	
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
	#card_product form.buy input[type="button"] {
     top: 89px !important; 
     bottom: 0px !important;
}
#card_product form.buy .plus {
    right: 220px;
}
	#card_product form.buy .minus {
    left: 230px !important;
}
}
@media (max-width: 480px) {
	#card_product input[type="button"]{
		top:56px;
	}
	#card_product  .plus {
    right: 90px !important;
}
	#card_product  .minus {
    left: 100px !important;
}
	.contacts-logo {
    text-align: left !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	#card_product form.buy .plus {
    right: 170px;
}
	#card_product form.buy .minus {
    left: 90px !important;
}
	
}
