body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}
#contact{
    padding: 40px 0;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 290px;
}
#contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#contact  ul li {
    text-align: left;
    padding-bottom: 15px;
    padding-bottom: 10px;
}
#contact  .img-1 {
    float: left;
    margin-right: 15px;
}
#contact .list {
    padding-top: 5px;
}
button.contac-btn {
    padding: 11px 54px 11px;
    color: #ffffff;
    font-size: 13px;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #0d46a2 0%, #1a60b3 100%);
    float: right;
}
.contac-btn span {
    padding-left: 10px;
}
#map2{
    margin-top: 50px;
    height: 450px;
    margin-bottom: -270px;
}
#requisites ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#requisites  ul li {
    text-align: left;
    padding-bottom: 15px;
    padding-bottom: 10px;
}
#requisites form {
    box-shadow: 0 25px 45px -20px #333;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    margin-top: 155px;
    margin-bottom: 100px;
}

#requisites input{
    border: none;
    border-bottom: 1px solid #2d3a5c;
    width: 263px;
    text-align: left;
    color: #1f2332;
    padding-bottom: 10px;
     outline: 0;
    outline-offset: 0;
    margin-top: 20px;
}
#requisites  textarea {
    border: none;
    border-bottom: 1px solid #2d3a5c;
    width: 263px;
    text-align: left;
    color: #1f2332;
    padding-bottom: 10px;
     outline: 0;
    outline-offset: 0;
}

#requisites button{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 13px 95px;
    border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top right, #293658 0%, #98a0af 70%);
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    margin-left: 27%;
}

.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
	#requisites input{
		width: 100%;
    	height: 50px;
	}
	#requisites textarea {
		display: none;}
}
@media (max-width: 767px) {
	
	#requisites input{
		width: 100%;
    	height: 50px;
	}
	#requisites textarea {
		display: none;}
	#requisites form{
		margin-top: 250px;
	}
	.slider_menu {
    margin-bottom: 0px;
}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}
@media (max-width: 715px) {
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
		#requisites input{
		width: 100%;
    	height: 50px;
	}
	.main-form {
    padding: 50px 20px !important;}
	#requisites button{
		margin-left: 10px;
	}
}
@media (max-width: 480px) {
	.contacts-logo {
    text-align: left !important;
}
/*
	.contacts-adress {
     padding-left: 0px!important; 
}
*/
	
}