@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-normal.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaBold';
  src: url('../fonts/HelveticaBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}