body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}

@media (min-width: 980px){
	.fix{
		width: 980px; 
		margin: 0 auto;
	}
}

.fix1{
	width: 1140px;
	margin: 0 auto;
}

.row{
	margin-right: auto!important;
    margin-left: auto!important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.title_section{
	font-size: 42px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 28px;
}

.text-blue{
	color: #1a60b3;
	text-decoration: underline;
}

.no-padding{
	padding: 0!important;
}

.line-through{
	text-decoration: line-through;
}

.block-230{
	max-width: 230px;
	height: 200px;
	border-radius: 4px;
	text-align: center;
	margin: 0 5px;
	position: relative;
}

.button-dark{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    border: none;
}

button.button-dark:hover{
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

/*contacts*/
#contacts {
	background: url(../img/bg-contacts.png) center no-repeat;
	width: 100%;
	color: #a8afcd;
	font-size: 14px;
	line-height: 25px;
	padding: 29px 20px;
}

#contacts a, span{
	color: #fff;
}

.contacts-right{
	float: right;
}

.contacts-logo{
	text-align: center;	
}

.contacts-adress{
padding-left: 80px!important;}

/*footer*/
#footer{
	background-color: #1f2332;
	padding: 25px 0 10px;
	color: #3e4660;
	font-size: 13px;
	line-height: 25px;
}

.social{
	padding-left: 70px!important;
}

#footer a i{
	color: #fff;
	margin-left: 24px;
	float: left;
}

#footer a i:hover{
	color: #a8afcd;
}


/*info-block*/
.time, .mailto{
	float: left;
	font-size: 13px;
	color: #2d3a5c!important;
	padding: 20px 0 0;
}
#info-block {
	padding: 30px 0;
	position: relative;
}

#info-block a{
	text-decoration: none;
}

.info-upper{
	text-transform: uppercase;
	padding-top: 5px;
}

#info-block button{
	padding: 15px 47px;
}

.telto{
	color: #1e3f6e;
	font-size: 24px;
}

.information{
	text-align: center;
}

.mailto a{
	color: #2d3a5c;
}



/*header*/

#header{
	color: #fff;
	background-color: #2b3143;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

#header p{
	float: left;
	padding: 10px 20px;
	margin: 0;
}

.menu-left{
	float: left;
}

.menu-right{
	float: right;
}

.links-bg{
	background-color: #363d52;
	padding: 10px 0;
	color: #96a0ae;
	display: inline-block;
}

.links-bg a{
	color: #96a0ae!important;
}

.links{
	display: inline-block;
	padding: 10px 0;
	color: #fff;
}

#header a{
	margin: 0;
	padding: 0 20px;
	border-right: 1px solid #96a0ae;
	color: #fff;
}

#header a:hover{
	text-decoration: none;
}

#header a:last-child{
	border: none;
}

#header i{
	color: #fff;
}

#header i:hover{
	color: #fff;
}

/*menu*/

#menu{
	background-color: #2562c5;
	background-image: -webkit-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: -o-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
}

.navbar-collapse{
	padding: 22px 60px!important;
	border: none!important;
	box-shadow: none!important;
}

.navbar{
    position: relative;
    height: auto!important;
    margin: 0!important;
    border: none!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 32px;
	border-right: 1px solid #afcce2;
}

.navbar-default{
	box-shadow: none!important;
	border: none!important;
	background: transparent!important;
}

.navbar-default .navbar-nav>.active>a{
    background: transparent!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>li:last-child a{
	border-right:none;
}

/*breadcrumbs*/
#breadcrumbs{
	padding-top: 40px;
	background-color: #fff!important;
}
/* Style the list */
ul.breadcrumb {
   /* padding: 10px 16px;*/
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: #fff!important;
    border-radius: 0!important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    color: #273243;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #1a60b3;
	text-decoration: underline;
	padding: 0;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*ordering*/
#ordering	{
	background-color: #ffffff;
	padding-bottom: 60px;
}

#ordering h2{
	text-align: center;
	height: 42px;
	color: #0f1320;
	margin: 36px 0 !important;
}
#ordering p{
	margin: 0;
}

#ordering form{
	padding: 30px;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #273243;
	margin-bottom: 30px;
}

#ordering form h3{
	color: #0f1320;
	font-size: 26px;
	margin-bottom: 15px;
}

#ordering form span{
	color: #273243;
	vertical-align: middle;
}

#ordering form label{
	font-weight: 300;
}

.radiobtn {
	display: inline-block;
}

.radiobtn + .radiobtn {
	margin-left: 5px;
}

.radiobtn input {
	display: none;	
}
.radiobtn label {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	transition: .1s ease-in;
	margin: 0;
	border: 3px solid #2663c5;
	width: 23px;
	height: 23px;
}

.radiobtn label:after {
	content: "";
	position: absolute;
    top: -3px !important;
    left: -3px !important;
    width: 11px !IMPORTANT;
    height: 11px !important;
	background-color: #363d52;
	border-radius: 50%;
	transition: .1s ease-in;
}

.radiobtn label:after {
	opacity: 0;
}

.radiobtn label:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.radiobtn input:checked + label:after {
	opacity: 1;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 15px;
	color: #273243;
	width: 236px;
	height: 35px;
	margin-bottom: -10px;
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 4px;
	border: 1px solid #bfc8d4;
	background-color: #ffffff;
	padding: 5px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: '';
  width: 10px;
  height: 7px;
  border: 7px solid transparent;
  background: url(../img/arrow-down.png) center no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
}

.select-styled:before {
  content: '';
  width: 1px;
  height: 34px;
  border-left: 1px solid #bfc8d4;;
  position: absolute;
  top: 0;
  right: 30px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #bfc8d4;
  border-radius: 4px;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  background: #fff;
  font-weight: 800;
}
.select-options li[rel="hide"] {
  display: none;
}

.serv {
	margin-bottom: 20px;
}

.serv p{
	display: inline-block;
	float: right;
}

span.placeholder{
	color: #979798!important;
}

.payer_profile{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 20px;
}

.payer_type p{
	margin: 0;
	margin-bottom: 10px!important;
}

.payer_profile a{
	text-decoration: underline;
	color: #1a60b3;
}

/*table*/
table{
	border-radius: 4px 4px 0 0;
	width: 100%;
}

thead{
	color: #ffffff;
	font-size: 18px;
	background-color: #1c4d9d;
	background-image: -webkit-linear-gradient(322deg, rgba(127, 127, 127, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
	background-image: -o-linear-gradient(322deg, rgba(127, 127, 127, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

td{
	padding: 32px 10px!important;
}

tbody tr{
	background-color: #f5f5f5;
	color: #475975;
	font-size: 16px;
}

tbody tr:nth-child(even){
	background-color: #ffffff;
}

input[type="text"]{
	border-radius: 4px;
	border: 1px solid #bfc8d4;
	background-color: #ffffff;
	width: 70px;
	padding: 8px 20px;
	position: relative;
	z-index: 5;
}

table button {
	color: #475975;
	background-color: transparent;
	border: none;
	margin: 0;
}
button.plus{
	position: absolute;
	padding: 6px;
	border: 1px solid #bfc8d4;
    padding: 0 6px;
    margin-left: -23px;
    line-height: 18px;
    border-right: none;
}

button.minus{
	position: absolute;
	padding: 6px;
	border: 1px solid #bfc8d4;
    padding: 0 6px;
    margin-left: -23px;
    line-height: 19px;
    border-right: none;
    border-top: none;
    margin-top: 20px;
}

table button:active,
table button:focus{
	outline: none;
}

.count{
	display: inline-block;
	position: relative;
}

.count-btns{
	position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
}

button.update{
	background: url(../img/update.png) center no-repeat;
	width: 20px;
	height: 20px;
	margin: 0 20px;
}

button.cancel{
	background: url(../img/cancel.png) center no-repeat;
	width: 19px;
	height: 19px;
}

.ordering{
	float: right;
	margin-top: 20px;
}

.ordering span{
	color: #475975!important;
	font-size: 18px;
	font-weight: 700;
}

.ordering span+span{
	padding-left: 75px;
}

.order-btn{
	padding: 17px 50px 19px 48px;
	display: block;
	margin: 20px 0;
}

.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}



/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Наименование"; }
		td:nth-of-type(2):before { content: "Цена"; }
		td:nth-of-type(3):before { content: "Количество"; }
		td:nth-of-type(4):before { content: "Сумма"; }
/*
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Porn Name"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; }
*/
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	 Zebra striping 
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (max-width: 767px) {
	.slider_menu {
    margin-bottom: 0px;
}
	.sr-only {
    	margin-right: 40% !important;}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}
@media (max-width: 715px) {
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
}
@media (max-width: 480px) {
	.contacts-logo {
    text-align: left !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}