.breadcrumb-ul {
    background-color: white !important;
    margin-top: 20px;
}

.news-background {
    background-color: white !important;
}


.span-breadcrumb {
    color: black;
}

.catalog-no-products {
    text-align: left;
    padding-left: 96px;
    padding-top: 30px;
    font-size: 16px;
    color: red;
}

