* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}
 
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
 
.main-nav {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    height: 60px;
    background-color: #2562c5;
    border-radius: 4px 4px 0 0;
    display: table;
}
 
.main-nav li {
    display: inline-block;
    list-style: none;
}
 
.main-nav li a {
    display: inline-block;
    padding: 22px 30px;
    font: 14px/1.1 "Open Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
 
.main-nav__subnav {
    display: none;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    min-height: 573px;
    background-color: #282d3e;
    padding: 35px 80px;
}
 
.main-nav > li.has-subnav:hover .main-nav__subnav {
    display: block;
}
 
.main-nav__second-nav {
    width: 258px;
    float: left;
}
 
.main-nav__second-nav li {
    display: block;
}
 
.main-nav__second-nav li a {
    display: block;
    font: 14px/1.1 "Open Sans", sans-serif;
    color: #fff;
    padding: 20px 42px;
    background: url(drop-right.png) left 22px center no-repeat;
    text-decoration: none;
}
 
.main-nav__second-nav li:hover a {
    background-color: #343b52;
}
 
.main-nav__inner-drop {
    display: none;
    position: absolute;
    top: 35px;
    right: 80px;
    width: calc(100% - 418px);
    background: #343b52;
    padding: 19px 16px 19px 56px;
    height: 502px;
}
 
.main-nav__inner-drop .inner {
    height: 464px;
    padding-right: 50px;
}
 
.main-nav__second-nav li:hover .main-nav__inner-drop {
    display: block;
}
 
.nicescroll-cursors {
    width: 12px !important;
    height: 32px !important;
    background: transparent url(cursor.png) center no-repeat !important;
    margin-right: -4px;
}
 
.nicescroll-rails.nicescroll-rails-vr {
    border-radius: 10px !important;
}