/*** Стили относящиеся к модальному окну и содержанию ***/
.popup h1,
.popup h2,
.popup h3 {
color: #262c3e;
/*font: 30pt 'Times New Roman', sans-serif;*/
font-weight: normal;
/*    margin-left: 500px;*/
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 9999;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; /* тип курсара */
-webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

/* стили модального окна */
.popup {
/*    height: 433px;не забыть убрать*/
top: 0;
right: 0;
left: 50%;
font-size: 30px;
/*font-family: 'Tahoma', Arial, sans-serif;*/
z-index: 10000;
margin: 0 auto;
width: 100%;
min-width: 320px;
max-width: 980px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
/* скругление углов */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/*background: url(../img/input-bg.png) no-repeat;*/
/* внешняя тень */
-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-o-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
/* трансформация */
-webkit-transform: translate(-50%, -150%);
-ms-transform: translate(-50%, -150%);
-o-transform: translate(-50%, -150%);
transform: translate(-50%, -150%);
/* анимируем трансформацию */
-webkit-transition: transform 0.6s ease-out;
-moz-transition: transform 0.6s ease-out;
-ms-transition: transform 0.6s ease-out;
-o-transition: transform 0.6s ease-out;
transition: transform 0.6s ease-out;
}
/* активируем мод. окно */
.overlay:target+.popup {
top: 50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
/* формируем кнопку закрытия */
.close {
/*position: absolute;*/
padding: 0;
top: -10px;
right: -10px;
color:black;
opacity: 1 !important;
font-weight: normal !important;

font-weight: bold;
line-height: 20px;

}
.close:before {
color: #80889c;
content: '\2715';
font-size: 30px;
 
}

.close:hover {
    color: #000;
}
.popup p {
margin: 0;
padding-top: 10px;
}
a.close {
    border: none !important;
}

.input-blok {
    width: 380px;
    margin-left: 550px;
}
.input-bg{
  background: url(../img/input-bg.png) no-repeat; 
    font-family: 'Tahoma', Arial, sans-serif;
   font-size:15px;
}
.registration-name{
  font-family: 'Tahoma', Arial, sans-serif;
   font-size:15px; 
    width: 100%;
}
.registration{
    padding-left: 45px;
    padding-right: 45px;
}


.input-blok input{
    width: 100%;
    height: 60px;
    color: #5e85be !important;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid;
    border-bottom-color:#475975;
    background: rgba(255, 255, 255, 0.2);
}
.registration input{
    /*width: 100%;*/
    height: 60px;
    color: #5e85be !important;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid;
    border-bottom-color:#475975;
    background: rgba(255, 255, 255, 0.2);
}
.free-call input{
    width: 100%;
    height: 60px;
    color: #5e85be !important;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid;
    border-bottom-color:#475975;
    background: rgba(255, 255, 255, 0.2);
}
.free-call form {
    width: 350px;

}
.registration-col input{
     width: 85%;
}
.registration-col{
    width: 49.5%;
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    
}
.right{
    text-align: right;
}
.submit2{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 47px;
    border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top right, #293658 0%, #6d7b98 70%);
    width: 320px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    margin-left: 280px;
}

.submit{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 47px;
    border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top right, #293658 0%, #6d7b98 70%);
    width: 100%;
    margin-top: 40px;
    border: none;
    margin-bottom: 30px;
}
.help{
   /* margin-top: 30px;*/
    margin-left: -20px;
}
.help a{        
    color: #6288c4 !important;
    border-right: none !important;
    text-decoration: underline;
    float: left;
    padding: 0;
}
.help2{
   /* margin-top: 30px;*/
}
.help2 a{        
    color: #6288c4 !important;
    border-right: none !important;
    text-decoration: underline;
    float: right;
    padding: 0 !important;
}
.free-call {
    width: 370px;
    margin-left: 550px;
    text-align: left;
}



/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.popup {
		width: 95%;
	}
}
/* смарт */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.popup {
		width:85%;
	}
}


/*стили для поиска*/

.search_form input
{
border: 1px solid #363d52;
border-radius: 3px;
width:30px;
font-size: 12px;
-moz-transition: all .2s linear;
-webkit-transition: all .2s linear;
transition: all .2s linear;
    background: #363d52 url(../img/search.png) no-repeat 50% 50%;
     background-position: right;
     margin-right: 20px;
   
}
.search_form input[type=search]:focus
{
width: 250px;
border-color: #51a7e8;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
outline: none;
}