
/*ordering*/
#user{
    background-color: #ffffff;
    padding-bottom: 141px;
}

#user h2{
    text-align: center;
    font-size: 42px;
    color: #0f1320;
    margin: 36px 0!important;
}

form{
    box-shadow: 0 34px 60px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    /*background-color: #ffffff;*/
    position: relative;
    /*margin-top: 75px;*/
    text-align: center;
}

.title_form{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 21px 0 17px;
    color: #fff;
    font-size: 22px;
    background-color: #1c4d9d;
    background-image: -webkit-linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-image: -o-linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-image: linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.main-form{
    padding: 12px 185px 0;
}

.form-content{
    float: left;
    width: calc(50% - 42px);
}

.form-content+.form-content{
    margin-left: 84px;
}


#user input[type="text"]{
    border: none;
    border-bottom: 1px solid #2d3a5c;
    width: 100%;
    text-align: left;
    color:  #2d3a5c;
    padding-bottom: 10px;
}
#user input[type="text"]:focus {
    outline: none;
    border-bottom: 1px solid #376db3;
    color: #376db3;
}

#user input[type="text"]:-moz-placeholder {
    color: #475975;
}
#user input[type="text"]::-webkit-input-placeholder {
    color: #475975;
}

#user button{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 14px 49px 19px;
    border-radius: 4px;
    background-color: #293658;
    background-image: -webkit-linear-gradient(30deg, #293658 0%, #ffffff 100%);
    background-image: -o-linear-gradient(30deg, #293658 0%, #ffffff 100%);
    background-image: linear-gradient(30deg, #293658 0%, #ffffff 100%);
    border: none;
    margin-bottom: 52px;
    text-align: center;
}

#user button:hover{
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%)
}

#user p{
    /*margin: 17px 25px 47px;*/
    display: inline-block;
}


#user .form-name{
    width: 100%;
}

#user input{
    margin-top: 40px;
}

.social-content{
    padding: 40px 0;
}

.socials a i{
    margin-left: 20px;
}
