/*header*/

#header{
	color: #fff;
	background-color: #2b3143;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

#header p{
	float: left;
	padding: 10px 20px;
	margin: 0;
}

.menu-left{
	float: left;
}

.menu-right{
	float: right;
}

.links-bg{
	background-color: #363d52;
	padding: 10px 0;
	color: #96a0ae;
	display: inline-block;
}

.links-bg a{
	color: #96a0ae!important;
}

.links{
	display: inline-block;
	padding: 10px 0;
	color: #fff;
}

#header a{
	margin: 0;
	padding: 0 20px;
	border-right: 1px solid #96a0ae;
	color: #fff;
}

#header a:hover{
	text-decoration: none;
}

#header a:last-child{
	border: none;
}

#header i{
	color: #fff;
}

#header i:hover{
	color: #fff;
}

/*menu*/

.navbar-collapse{
	padding: 22px 0!important;
	border-radius: 4px 4px 0 0;
	border: none!important;
	box-shadow: none!important;
	background-color: #2562c5;
	background-image: -webkit-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: -o-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
}

.navbar{
    position: relative;
    height: auto!important;
    margin: 0!important;
    border: none!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 35px 0 0;

	border-right: 1px solid #afcce2;
}


.navbar-default .navbar-nav>.active>a{
    background: transparent!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>li:last-child a{
	border-right:none;
}

.navbar-nav{width: 100%!important; display: flex!important; justify-content: space-between;}

.navbar-nav>li{display: inline-flex!important;}




/*info*/
#info-block {
	padding: 30px 0;
	position: relative;
}

#info-block a{
	text-decoration: none;
	display: block;
}

.info-upper{
	text-transform: uppercase;
	padding-top: 5px;
}

#info-block button{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px 47px;
	border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    border: none;
}

#info-block button:hover{
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.telto{
	color: #1e3f6e;
	font-size: 24px;
}

.information{
	text-align: right;
}

.info_block-tel{
	text-align: center;
}

.mailto a{
	color: #2d3a5c;
}

.info-blocks p{margin: 0 0 5px!important;}

.flex-container{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.info-icons{display: none;}
.time-text_adaptiv{display: none;}

.info-blocks>img{
	float: left;
	margin-right: 20px;
}

.time-text, .info-blocks .time-text_adaptiv, .info-blocks .mailto{float: left;}

.time-text_adaptiv, .time-text_adaptiv a{
	color: #2d3a5c;
	line-height: 20px;
}

.tellto{font-weight: 700;}

.info-icons a{
	margin-left: 24px;

}

.info-icons a:last-child{
	position: relative;
}

.info-icons a:last-child:before{
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	background: url(../img/in-basket.png) center no-repeat;
}

.time-menu{display: none;}

.contacts-blocks{
	float: left;
	width: 33.3%;
}

/*contacts*/
#contacts {
	background: url(../img/bg-contacts.png) center no-repeat;
	width: 100%;
	color: #a8afcd;
	font-size: 14px;
	line-height: 25px;
	padding: 29px 20px;
}

#contacts a, span{
	color: #fff;
}


.contacts-right{
	float: right;
}

.contacts-logo{
	text-align: center;	
}

.contacts-adress{
text-align: right;
}

.contact-block{
	text-align: left;
    display: inline-block;
}

/*footer*/
#footer{
	background-color: #1f2332;
	padding: 25px 0 10px;
	color: #3e4660;
	font-size: 13px;
	line-height: 25px;
}

.social-block{
	float: right;
}

#footer a i{
	color: #fff;
	margin-left: 20px;
	float: left;
}

#footer a i:hover{
	color: #a8afcd;
}


#footer a:first-child i{
	margin-left: 0;
}

@media (min-width: 1200px) {
	.fix{width: 1200px;
		margin: 0 auto;
	}

	.fix1{
		width: 1200px;
		margin: 0 auto;
	}

	.contacts-adress{padding: 0; text-align: right;}

}


/* Landscape tablets and medium desktops */
/*@media (min-width: 992px) and (max-width: 1199px) {

}*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.fix{width: 730px;
		margin: 0 auto;
	}
	
	.fix1{
		width: 100%;
		margin: 0 auto;
	}

	#header{display: none;}

	#info-block {padding: 17px 0;}

	.navbar-default{border-radius: none!important;}
	.navbar-collapse{border-radius: 0!important; padding: 35px 0 27px!important;}
	.navbar-default .navbar-nav>li>a{border-right: 0;}
	.navbar-default .navbar-nav>li:first-child a {padding-left: 0!important} 
	.navbar-default .navbar-nav>li:last-child a{padding-right: 0!important}
	.slider-bg{padding: 25px 50px!important;}
	.carousel-indicators{bottom: 25px!important;}
	.carousel-inner{padding: 0 0 60px!important;}
	#slider p{padding:30px!important}
	.slider-main{background-size: cover;}

	.time-text_adaptiv, .info-icons{display: block!important;}
	.info_block-tel, .mailto, .time-text{display: none;}
	.info-upper{padding: 0;}
	.info-blocks p{margin: 0!important;}
	.info-blocks>img{padding-top: 10px;}
	.info-logo{flex-grow: 0.5;}


	.contacts-blocks:nth-child(1){width: 37%;}
	.contacts-blocks:nth-child(2){width: 29%;}


}

@media (min-width: 768px) and (max-width: 825px){
	.navbar-default .navbar-nav>li>a{font-size: 12px!important;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
	

}

@media (max-width: 767px) {
	.fix {padding: 0px 10px;}
	#header{display: none;}
	#info-block {padding: 30px !important;}
	.navbar-nav>li{display: block!important; width: 100%!important;}
	.navbar-nav{ display: block!important; margin: 0!important; padding: 35px 50px!important;}
	.navbar-default .navbar-nav>li>a{border-right: 0; padding: 0; line-height: 40px;}
	.navbar-collapse{border-radius: 0!important; padding: 0!important;}

	.navbar-default .navbar-toggle .icon-bar{background-color: #2053a3!important;}
	.sr-only {position: relative; font-size: 32px;}
	.navbar-default .navbar-toggle {     background-color: #2562c5;   background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%); width: 100%; margin: 0; border: none;}
	 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #2964ae;}
	.navbar-toggle .icon-bar{height: 0px;}
	
	.slider_menu {margin-bottom: 0;}
	#slider { display: none;}
	#catalog {padding-top: 25px;}
	.catalog-blocks {display: none;}
	.bx-wrapper {margin-bottom: 0!important; box-shadow: none!important; border: 0!important; background: transparent!important;max-width: 100%!important; padding: 0 55px!important;}
	.img-serv { display: none;}
	p.text-services {  display: none;}
	.icons-services {padding: 0 40px;}
	.time-text_adaptiv, .info-icons{display: block!important;}
	.info_block-tel, .mailto, .time-text{display: none;}
	.info-blocks p{margin: 0!important;}
	.info-blocks>img{padding-top: 10px;}
	.info-logo{flex-grow: 0.5;}
	
	.top_sells-blocks {display: none;}
/*	.slider-sells{display: block;}*/
/*	.sell-block { width: calc(100% - 10px)!important;}*/
/*	.shingles-price { padding: 17px 0 27px;}*/
	.shingles-price {padding: 22px 0; text-align: center; position: absolute; top: 0; left: 0; color: #fff; display: none;}
	.sell-block:nth-child(5){display: none!important; float: left}
	.sell-block:nth-child(4){display: none!important; float: left}
	.sell-block{width: calc(100% - 10px)!important;}
		.shingles:hover{border-radius: 50%!important;}

	.shingles:hover .shingles-price{
		display: block;
		background: #2b3143;
	}
	.shingles:hover .price{
		background: #2b3143;
		border-radius: 0 0 4px 4px!important;
	}
	.shingles:hover .bg_sells{
		background: #2b3143;
		border-top: 2px solid #fff;
		border-radius: 0 0 4px 4px!important;
	}

	.contacts-blocks:nth-child(1){width: 37%;}
	.contacts-blocks:nth-child(2){width: 32%;}
	#top_sells input[type="button"]{top: 62px;}
	#top_sells .plus {right: 130px;}
	
	#reasons {display: none;}
	#installation {display: none;}
	.order {display: none;}
	
	#order {padding: 0;}
	.main-form {padding: 10px 50px;}
	.work-blocks {display: none;}
	#contacts {background-size: cover;padding-bottom: 0px;}
	#footer {padding: 40px 60px;}
	.footer-left, .footer-right{text-align: center;}
	.social-block{display: flex; width: 100%; justify-content: space-around; margin-bottom: 30px;}
	p.text-services { display:none;}
	.contacts-blocks {width: 100%!important;margin-bottom: 35px;}
	.contacts-adress {text-align: center;}
	.contacts-blocks.contacts-work {text-align: center;}
}
@media (max-width: 715px) {
	.fix{
		width: 400px;
		margin: 0 auto;
	}
	.catalog-slider{
		display: block;
	}
	#info-block {padding: 30px 50px!important;}
		.navbar-nav>li{display: block!important; width: 100%!important;}
	.navbar-default .navbar-toggle {width: auto;}
	.sr-only {position: absolute;}
	.navbar-nav{ display: block!important; margin: 0!important; padding: 35px 50px!important;}
	.navbar-default .navbar-nav>li>a{border-right: 0; padding: 0; line-height: 40px;}
	.navbar-collapse{border-radius: 0!important; padding: 0!important;}

	.navbar-default .navbar-toggle .icon-bar{background-color: #2053a3!important;}
	.navbar-toggle .icon-bar{width: 27px!important; height: 4px!important; border-radius: 0!important; }
	.navbar-toggle{
		float: left!important;
	    padding: 41px 10px!important;
		background-image: none !important;
	    background-color: #eef2fd!important;
	    margin: 0!important;
	    border: none!important;
	    border-radius: 0!important;
	    margin-right: 18px!important;
	}

	.time-text_adaptiv{display: block!important; float: left}
	.time-menu{display: block!important; padding-top: 25px;}
	.time-menu>img{float: left; padding-top: 10px; margin-right: 20px;}
	.time-text_adaptiv p{margin: 0!important;}
	.navbar-nav .info-blocks{display: block!important}
	#info-block{padding: 25px 0;}

	.info-blocks:nth-child(2), .info-blocks:nth-child(3){display: none!important;}
	.info_block-tel{display: none;}
	.info-icons{display: block!important;}
/*	.info-logo img{width: 100px;height: 50px;}*/
	.info-icons a{margin-left: 12px!important;}
	.block-work.block-230 {
    width: 100% !important;
}
	li.item {
    margin-right: 90px !important;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.fix{
		width: 300px;
		margin: 0 auto;
		padding: 0;
	}
	.main-form {
    padding: 10px 10px;
}

	#header{display: none;}

	.navbar-nav>li{display: block!important; width: 100%!important;}
	.navbar-nav{ display: block!important; margin: 0!important; padding: 35px 50px!important;}
	.navbar-default .navbar-nav>li>a{border-right: 0; padding: 0; line-height: 40px;}
	.navbar-collapse{border-radius: 0!important; padding: 0!important;}

	.navbar-default .navbar-toggle .icon-bar{background-color: #2053a3!important;}
	.navbar-toggle .icon-bar{width: 27px!important; height: 4px!important; border-radius: 0!important; }
	.navbar-toggle{
		float: left!important;
	    padding: 41px 10px!important;
	    background-color: #eef2fd!important;
	    margin: 0!important;
	    border: none!important;
	    border-radius: 0!important;
	    margin-right: 18px!important;
	}

	.time-text_adaptiv{display: block!important; float: left}
	.time-menu{display: block!important; padding-top: 25px;}
	.time-menu>img{float: left; padding-top: 10px; margin-right: 20px;}
	.time-text_adaptiv p{margin: 0!important;}
	.navbar-nav .info-blocks{display: block!important}
	#info-block{padding: 25px 0;}

	.info-blocks:nth-child(2), .info-blocks:nth-child(3){display: none!important;}
	.info_block-tel{display: none;}
	.info-icons{display: block!important;}
	.info-logo img{width: 100px;height: 50px;}
	.info-icons a{margin-left: 12px!important;}

	.slider_menu{margin: 0;}

	#contacts{background-size: cover; padding-bottom: 0px;}
	.contacts-blocks{width: 100%!important; margin-bottom: 35px;}
	.contacts-adress{text-align: left;}
	#footer {padding: 10px !important;}
	.footer-left, .footer-right{text-align: left!important;}
	.social-block{display: flex; width: 100%; justify-content: space-around; margin-bottom: 30px;}
	p.text-services { display: block;}
	.contacts-blocks.contacts-work {text-align: left;}
	#info-block {
		padding: 0!important;
	}
	li.item {
    margin-right: 30px !important;
}
}