body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat!important;
	width: 100%;
	overflow-x: hidden;

}

.clear { clear: both;}
.clearFix:after, .site_size:after, .text_block:after { content: ''; display: block; clear: both; height: 0; }

.cfx::before, .cfx::after {
    content:"";
    display:table;
}
.cfx::after {
    clear:both;
}
.cfx {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

button, input:focus{outline: none!important;}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.fix{
	width: 980px; 
	margin: 0 auto;

	}

	.fix1{
		width: 1140px;
		margin: 0 auto;
	}

	.bx-wrapper {display: none!important; margin-bottom: 0!important}
	.slider-sells{display: none!important;}
	.bx-controls-direction{display: none!important}
}

.row{
	margin-right: auto!important;
    margin-left: auto!important;
}

.title_section{
	font-size: 42px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 28px;
}

.text-blue{
	color: #1a60b3;
	text-decoration: underline;
}

.no-padding{
	padding: 0!important;
}

.line-through{
	text-decoration: line-through;
}

.block-230{
	max-width: 230px;
	height: 200px;
	border-radius: 4px;
	text-align: center;
	margin: 0 5px;
	position: relative;
}

ul {list-style-type: none!important;}

/*services*/
#services, #installation{
	background-color: #ffffff;
	padding: 75px 0 60px;
}

#services img{
	border-radius: 4px;
}

.text-services{
	text-align: justify;
	padding-left: 10px;
}


#services ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*#services ul li{
	text-align: left;
	padding-bottom: 15px;
	padding-bottom: 10px;
}*/

#services .img-1{
	float: left;
	margin-right: 15px;	
}

/*#services .list{
	padding-top: 5px;
}

.serv{
	padding-top: 60px;
}

.right-icons{
	padding-left: 15px;
}*/

/*leaders of sells*/
#top_sells{
	padding: 75px 0;
	text-align: center;
}

#top_sells .title_section{margin-bottom: 40px;}

@media (min-width: 980px){
	.shingles{
	max-width: 230px;
	/*margin: 10px 5px 0;*/
	box-shadow: 0 34px 60px rgba(0, 0, 0, 0.35);
	border-radius: 4px!important;
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
}
	.shingles:hover{border-radius: 50%!important;}

	.shingles:hover .shingles-price{
		display: block;
		background: #2b3143;
	}
	.shingles:hover .price{
		background: #2b3143;
		border-radius: 0 0 4px 4px!important;
	}
	.shingles:hover .bg_sells{
		background: #2b3143;
		border-top: 2px solid #fff;
		border-radius: 0 0 4px 4px!important;
	}
}

.bg_sells{
	min-height: 140px;
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
	padding-top: 20px;
	border-top: 2px solid transparent;
	border-radius: 0 0 4px 4px;}
}

.shingles:last-child{
	margin-right: 0;
}
.shingles:first-child{
	margin-left: 0;
}

.shingles span{
	color: #fff;
	letter-spacing: 1.5px;
}

#top_sells img{
	width: 100%;
	height: 200px;
}

#top_sells .title{
	color: #ffffff;
	line-height: 22px;
	text-decoration: underline;
	margin: 22px 0;
}

.price{
	color: #aec6f2;
	font-size: 24px;
	line-height: 22px;
	padding: 22px 0 29px;
	margin: 0;
}
.fa{
	color: #ffba01;
	padding-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.info{
	padding: 5px 14px;
	z-index: 5;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	font-size: 12px;
	top: 56%;
	left: 0;
	box-shadow: 0 1px 0 #252525;
	border-radius: 0 12px 12px 0;
	background-color: #2b3143;
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.btn-sells{
	margin-top: 25px;
	padding: 14px 28px 17px;
	color: #ffffff;
	font-size: 13px;
	border: none;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #2f3d63;;
	background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
}

.btn-sells:hover{
	text-decoration: none;
	color:  #ffffff;
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.shingles-price{
	padding: 17px 15px 27px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: none;
}

.sell-block{
	float: left;
	width: calc(25% - 10px);
	margin-left: 10px;
	position: relative;
}

.sell-block:nth-child(5){display: none;}

#top_sells form{
	text-align: center;
}

#top_sells form > label{
	margin: 0 5px 0;
	line-height: 25px;
}

.radiobtn {
	display: inline-block;
}

.radiobtn + .radiobtn {
	margin-left: 5px;
}

.radiobtn input {
	display: none;	
}
.radiobtn label {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #69c;
	transition: .1s ease-in;
	margin: 0;
}

.radiobtn label:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 21px;
	height: 21px;
	border: 2px solid #d8d8d8;
	border-radius: 50%;
	transition: .1s ease-in;
}

.radiobtn label:after {
	opacity: 0;
}

.radiobtn label:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.radiobtn input:checked + label:after {
	opacity: 1;
}

.radiobtn label.color-red {background-color: #ce3838;}
.radiobtn label.color-green{background-color: #1e9150;}
.radiobtn label.color-blue{background-color: #417fd0;}
.radiobtn label.color-white{background-color: #ffffff;}
.radiobtn label.color-grey{background-color: #696969;}
.radiobtn label.color-beige{background-color: #dda07e;}

.radiobtn label.color-red:after,
.radiobtn label.color-green:after,
.radiobtn label.color-blue:after,
.radiobtn label.color-white:after,
.radiobtn label.color-grey:after,
.radiobtn label.color-beige:after,
 {
	border-color: #d8d8d8;
}

#top_sells input[type="text"]{
	border-radius: 15px 15px 15px 14px;
	border: 1px solid #a8b8de;
	background: transparent;
	color: #fff;
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

#top_sells input[type="text"]:focus,
#top_sells input[type="button"]:focus {
	outline:none;
}

#top_sells ul li:hover{
	 outline: 2px solid transparent;
	 border-radius: 50%
}

#top_sells input[type="text"]:-moz-placeholder {
	color: #fff;
}
#top_sells input[type="text"]::-webkit-input-placeholder {
	color: #fff;
}

#top_sells input[type="button"] {
	position: absolute; 
	top: 56px;
	border: none;
	background-color: transparent;
	font-size: 16px;
}

#top_sells .plus{
	right: 80px;
}

#top_sells .minus{
	left: 80px;
}

#top_sells form button{
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	background-image: linear-gradient(30deg, #a8b8de 0%, #eaf4fa 100%);
	padding: 15px 50px;
	margin: 15px 0 5px;
}

#top_sells form p{
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

#top_sells form a{
	color: #aec6f2;
}


/*installation*/
.img-install img{
	width: 315px; 
	height: 266px;
}



/*10 reasons*/

#reasons, #works{
	background: url(../img/bg-black.png) center repeat;
	padding-top: 75px;
}

#catalog{
	background: url(../img/bg-black.png) center repeat;
	/*padding-top: 215px;*/
}

#reasons .title_section{
	color: #fff;
	margin-bottom: 45px;
}

@media (min-width: 980px){
	.reason-block{
		background: url(../img/bg.png) center repeat;
		border-radius: 4px;
		margin: 0 3px;
		max-width: 237px;
		padding: 50px 12px 20px;
		position: relative;
		text-align: center;
		font-size: 13px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
	}

	.reason-img{
 	position: relative;
 	max-width: 237px;
 	height: 100%;
 	display: block;
	}
}

.reason-blocks{
	margin-bottom: 58px;
}
.reason-number{
	position: absolute;
	box-shadow: 0 0 38px rgba(255, 255, 255, 0.36);
	border: 2px solid #f5f9ff;
	background-color: rgba(41, 54, 88, 0.9);
	background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
	width: 60px;
	height: 60px;
	top: -15%;
	left: 35%;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	font-size: 32px;
	margin-bottom: 25px;
}

.reason-content-small{
	padding: 20px 0;
}

.reason-content{
	padding: 10px 0;
}



.reason-img img{
    text-align: center;
    position: absolute;
	top: 0;
	left: 50%;
	margin-top: -42px;
	margin-left: -100px;
}


/*catalog*/

#catalog .title_section{
	color: #fff;
	margin-bottom: 28px;
    padding-top: 60px;
}

#catalog .products1{
	background: url(../img/catalog/img-1.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products1:hover{
	background: url(../img/catalog/1.png) center no-repeat;

}

#catalog .products2{
	background: url(../img/catalog/img-2.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products2:hover {
	background: url(../img/catalog/2.png) center no-repeat;
	
}

#catalog .products3{
	background: url(../img/catalog/img-3.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products3:hover {
	background: url(../img/catalog/3.png) center no-repeat;
}

#catalog .products4{
	background: url(../img/catalog/img-4.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products4:hover {
	background: url(../img/catalog/4.png) center no-repeat;
	
}

#catalog .products5{
	background: url(../img/catalog/img-5.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products5:hover {
	background: url(../img/catalog/5.png) center no-repeat;
}

#catalog .products6{
	background: url(../img/catalog/img-6.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products6:hover {
	background: url(../img/catalog/6.png) center no-repeat;
}

#catalog .products7{
	background: url(../img//catalog/img-7.png) center no-repeat;
	margin-bottom: 40px;
}

#catalog .products7:hover{
	background: url(../img/catalog/7.png) center no-repeat;
}

#catalog .title{
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;	
}

#catalog a.title {
	border-radius: 0 0 4px 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	padding: 15px 0;
	background-color: #0d46a2;
	background-image: -webkit-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
	background-image: -o-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
	background-image: linear-gradient(30deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
}

#catalog a.title:hover{
	text-decoration: none;
	background-color: #6a799b;
}

#catalog .catalog-blocks{
	margin-bottom: 40px;
}

/*order*/
#order {
	padding-top: 75px;
	text-align: center;
	position: relative;
}

.order-block{
position: relative;}

#order p{
	font-weight: 600;
}

.order-text{
	padding-top: 44px;
	margin-bottom: 55px;
}

#order .img{
	margin-bottom: 55px;
}
.order{
	position: relative;
}

.divider{
	height: 1px;
	width: 100%;
	background-color: #6a799b;
	position: absolute;
	top: 186px;
	left: 0;
}

#order .rectangle{
	position: absolute;
    top: 110px;
    left: 45%;
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: #376db3;
    z-index: 5;
}

/*works*/
#works{
	text-align: center;
	padding: 180px 0 79px;

}
#works .title_section{
	margin-bottom: 30px;
	color: #fff;
	margin-top: 70px;
}

#works .img-1{
	background: url(../img/services.png) center no-repeat;
	width: 230px;
	height: 200px;
}

#works .img-2{
	background: url(../img/work2.png) center no-repeat;
	width: 230px;
	height: 200px;
	background-size: cover;
}

#works .img-3{
	background: url(../img/work3.png) center no-repeat;
	width: 230px;
	height: 200px;

}

#works .img-4{
	background: url(../img/work4.png) center no-repeat;
	width: 230px;
	height: 200px;
	background-size: cover;*/
}

.work-text{
	position: relative;
    right:0;
    top:0;
    background: #fff;
    display:none;
    padding: 59px 13px;
    border-radius: 4px;
}
#works .block-230:hover .work-text{
	display:block;
	transform: scale(0.9);
	opacity: .9;
}

#works .img-1:hover{
/*background: transparent;*/
}

#works .img-2:hover{
background: transparent;
}

#works .img-3:hover{
background: transparent;
}

#works .img-4:hover{
background: transparent;
}

.block-work{
	float: left;
	width: 25%;
	border-radius: 4px;
	text-align: center;
	margin: 0 7px;
	position: relative;
	background-size: cover;
}

.block-work:nth-child(5){
	display: none!important;
}

#works button{
	margin-top: 40px;
	border: none;
	padding: 14px 29px 19px;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #0d46a2;
	background-image: -webkit-linear-gradient(30deg, rgba(13, 70, 162, .55) 0%, rgba(223, 223, 223, 0.55) 100%);
	background-image: -o-linear-gradient(30deg, rgba(13, 70, 162, .55) 0%, rgba(223, 223, 223, 0.55) 100%);
	background-image: linear-gradient(30deg, rgba(13, 70, 162, .55) 0%, rgba(223, 223, 223, 0.55) 100%);
}

#works button:hover{
	background-color: #2e6da4;
}


/*form questions*/

.order-form form{
	box-shadow: 0 34px 60px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	background-color: #ffffff;
	position: relative;
	margin-top: 75px;
	margin-bottom: -215px;
}

.title_form{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 21px 0 17px;
	color: #fff;
	font-size: 22px;
	background-color: #1c4d9d;
	background-image: -webkit-linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
	background-image: -o-linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
	background-image: linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.main-form{
	padding: 50px 100px;
}

.order-form input,.order-form textarea{
	margin-top: 20px;
}

.order-form input[type="text"], .order-form input[type="email"], .order-form textarea, #order input[type="tel"]{
	border: none;
	border-bottom: 1px solid #2d3a5c;
	width: 263px;
	text-align: left;
	color: #1f2332;
	padding-bottom: 10px;
}
.order-form input[type="text"]:focus{ 
	outline: none; 
	border-bottom: 1px solid #376db3;
	color: #376db3;
}


.order-form input[type="text"], .order-form input[type="email"], .order-form textarea, .order-form input[type="tel"]:-moz-placeholder {
	color: #475975;
}
.order-form input[type="text"], .order-form input[type="email"], .order-form textarea, .order-form input[type="tel"]::-webkit-input-placeholder {
	color: #475975;
}

.order-form input[type="text"], #order input[type="email"], #order textarea, #order input[type="tel"]:focus::-webkit-input-placeholder {color: #475975;}
#order input[type="text"], #order input[type="email"], #order textarea, #order input[type="tel"]:focus::-moz-placeholder          {color: #475975;}
#order input[type="text"], #order input[type="email"], #order textarea, #order input[type="tel"]:focus:-moz-placeholder           {color: #475975;}
#order input[type="text"], #order input[type="email"], #order textarea, #order input[type="tel"]:focus:-ms-input-placeholder

#order input[type="email"]:focus { 
	outline: none; 
	border-bottom: 1px solid #376db3;
	color: #376db3;
}

#order textarea:focus { 
	outline: none; 
	border-bottom: 1px solid #376db3;
	color: #376db3;
}

#order input[type="tel"]:focus{
	outline: none; 
	border-bottom: 1px solid #376db3;
	color: #376db3;
}

#order form button{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px 93px;
	border-radius: 4px;
	background-color: #293658;
	background-image: -webkit-linear-gradient(30deg, #293658 0%, #ffffff 100%);
	background-image: -o-linear-gradient(30deg, #293658 0%, #ffffff 100%);
	background-image: linear-gradient(30deg, #293658 0%, #ffffff 100%);
	border: none;
	margin-top: 10px;
}

#order form button:hover{
	background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%)
}

/*slider*/
#slider{
	text-align: center;
	color: #fff;
	margin:  0;
    z-index: 9999!important;
}

.slider-main{
	background: url(../img/123.png) right no-repeat;
	position: relative;
}

.slider-bg{
	background: url(../img/slider-bg.png) no-repeat;
	padding: 60px 75px!important
}
.carousel-inner{
	padding-bottom: 80px!important;
	border-radius: 4px;
    background-color: #2c69b2;
    background-image: linear-gradient(to top, #245ba6 0%, #2c69b2 100%);
    position: relative;
}

.carousel-indicators{
	position: absolute;
	bottom: 35px!important;
	left: 0;
	margin: 0;
    width: 100%!important; 
    bottom: 10px;
    z-index: 15;
    padding-left: 0;
    text-align: center!important;
    list-style: none;
}

#slider p{
	font-size: 26px;
	margin: 0;
	padding: 25px 25px 0!important;
}

#slider button{
	text-transform: uppercase;
	font-size: 13px;
	border: none;
	padding: 12px 70px;
	border-radius: 4px;
   background-color: #ffffff;
	background-image: -webkit-linear-gradient(300deg, #a8b8de 0%, #eaf4fa 100%);
	background-image: -o-linear-gradient(300deg, #a8b8de 0%, #eaf4fa 100%);
	background-image: linear-gradient(30deg, #a8b8de 0%, #eaf4fa 100%);
    margin-top: 25px;
}

#slider button:hover{
	background-color: #ffffff;
background-image: linear-gradient(30deg, rgba(168, 184, 222, 0.4) 0%, rgba(234, 244, 250, 0.4) 100%);
}
/*
#slider p{
	
}*/

.carousel-indicators li{
	display: inline-block;
    width: 12px!important;
    height: 12px!important;
    margin: 5px!important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-color: #fff!important;
    border: 1px solid #fff;
    border-radius: 50%;
}

.carousel-indicators .active{
	background-color: transparent!important;
}

.slider_menu{margin-bottom: -215px;}
/*map*/
#map{
	width: 100%;
	height: 500px;
}


/*user profile*/
#user h2{
	margin-bottom: 36px;
}

@media (min-width: 980px) {
	.fix{width: 980px;
		margin: 0 auto;
	}

	.fix1{
		width: 1200px;
		margin: 0 auto;
	}

	.img-serv{width: 100%;}
	.text-services{line-height: 24px;}

	.reason-block, .reason-img{margin-right: 80px; margin-bottom: 70px;}
	.reason-block:last-child{margin-right: 0;}

	.img-install img{width: 100%; height: auto;}


	.sell-block:nth-child(5){display: block!important; float: left}
	.sell-block {width: calc(20% - 5px)!important;}

	.block-work:nth-child(5){display: block!important;}
	.block-work {width: 20%!important; margin: 0 5px;}

	.contacts-adress{padding: 0; text-align: right;}
	.bx-wrapper {display: none!important; margin-bottom: 0!important}
	.slider-sells{display: none!important;}
	.bx-controls-direction{display: none!important}
}


/* Landscape tablets and medium desktops */
/*@media (min-width: 992px) and (max-width: 1199px) {

}*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.fix{width: 730px;
		margin: 0 auto;
	}

	.fix1{
		width: 100%;
		margin: 0 auto;
	}

	#header{display: none;}

	#info-block {padding: 17px 0;}

	.navbar-default{border-radius: none!important;}
	.navbar-collapse{border-radius: 0!important; padding: 35px 0 27px!important;}
	.navbar-default .navbar-nav>li>a{border-right: 0;}
	.navbar-default .navbar-nav>li:first-child a {padding-left: 0!important} 
	.navbar-default .navbar-nav>li:last-child a{padding-right: 0!important}
	.slider-bg{padding: 25px 50px!important;}
	.carousel-indicators{bottom: 25px!important;}
	.carousel-inner{padding: 0 0 60px!important;}
	#slider p{padding:30px!important}
	.slider-main{background-size: cover;}

	#catalog .title_section{padding-top: 45px;}

	.sell-block:nth-child(5){display: none!important; float: left}
	.sell-block:nth-child(4){display: none!important; float: left}
	.sell-block{width: calc(100% - 10px)!important;}

	.services-content{display: none!important;}
	#reasons, #installation, .order{display: none;}
	#map {height: 300px;}

	.bx-wrapper{margin-bottom: 0!important; 
		box-shadow: none!important; 
		border: 0!important; 
		background: transparent!important; 
		max-width: 100%!important;
		padding: 0 55px!important;
	}

	#top_sells .item{padding: 0!important;width: 200px!important; text-align: center!important}
	.shingles-price{padding: 17px 0 27px;}
	#top_sells .minus{left: 50px;}
	#top_sells .plus {right: 50px;}

	.bx-wrapper {display: block!important; margin-bottom: 0!important}
	.slider-sells{display: block!important;}
	.top_sells-blocks{display: none;}

	.catalog-blocks, .work-blocks{display: none;}

	.works-slider .block-230{width: 200px!important;height: 175px;	}
	#top_sells{padding-bottom: 50px;}
	.order-form form{margin: 0 auto; background-color: #fbfbfb;}
	.order-form form .title_form{display: none;}
	#order{background-color: #fff; padding: 30px 0 50px;}
	.main-form{padding: 100px 65px 35px;}

	#works .title_section{margin-top: 0;}
	#works {padding: 45px 0 35px;}
	
	.time-text_adaptiv, .info-icons{display: block!important;}
	.info_block-tel, .mailto, .time-text{display: none;}
	.info-upper{padding: 0;}
	.info-blocks p{margin: 0!important;}
	.info-blocks>img{padding-top: 10px;}
	.info-logo{flex-grow: 0.5;}



	.shingles:hover{border-radius: 50%!important;}

	.shingles:hover .shingles-price{
		display: block;
		background: #2b3143;
	}
	.shingles:hover .price{
		background: #2b3143;
		border-radius: 0 0 4px 4px!important;
	}
	.shingles:hover .bg_sells{
		background: #2b3143;
		border-top: 2px solid #fff;
		border-radius: 0 0 4px 4px!important;
	}

	.contacts-blocks:nth-child(1){width: 37%;}
	.contacts-blocks:nth-child(2){width: 29%;}


}

@media (min-width: 768px) and (max-width: 825px){
	.navbar-default .navbar-nav>li>a{font-size: 12px!important;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
	

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.fix{
		width: 300px;
		margin: 0 auto;
	}

	.title_section{padding-top: 40px!important; font-size: 32px;}

	#header{display: none;}

	.navbar-nav>li{display: block!important; width: 100%!important;}
	.navbar-nav{ display: block!important; margin: 0!important; padding: 35px 50px!important;}
	.navbar-default .navbar-nav>li>a{border-right: 0; padding: 0; line-height: 40px;}
	.navbar-collapse{border-radius: 0!important; padding: 0!important;}

	.navbar-default .navbar-toggle .icon-bar{background-color: #2053a3!important;}
	.navbar-toggle .icon-bar{width: 27px!important; height: 4px!important; border-radius: 0!important; }
	.navbar-toggle{
		float: left!important;
	    padding: 41px 10px!important;
	    background-color: #eef2fd!important;
	    margin: 0!important;
	    border: none!important;
	    border-radius: 0!important;
	    margin-right: 18px!important;
	}

	.time-text_adaptiv{display: block!important; float: left}
	.time-menu{display: block!important; padding-top: 25px;}
	.time-menu>img{float: left; padding-top: 10px; margin-right: 20px;}
	.time-text_adaptiv p{margin: 0!important;}
	.navbar-nav .info-blocks{display: block!important}
	#info-block{padding: 25px 0;}

	.info-blocks:nth-child(2), .info-blocks:nth-child(3){display: none!important;}
	.info_block-tel{display: none;}
	.info-icons{display: block!important;}
	.info-logo img{width: 100px;height: 50px;}
	.info-icons a{margin-left: 12px!important;}

	#slider, #reasons, #installation, .order{display: none;}
	.slider_menu{margin: 0;}
	#catalog{padding-top: 0px;}
	#catalog .catalog-blocks{display: none;}
	#catalog .bx-wrapper{padding: 0 51px!important;}

	.bx-wrapper{margin-bottom: 0!important; 
		box-shadow: none!important; 
		border: 0!important; 
		background: transparent!important; 
		max-width: 100%!important;
		padding: 0 55px!important;
	}

	#catalog .item {width: 200px!important; text-align: center!important}

	#services, #top_sells, #works{padding-top: 0; padding-bottom: 40px;}
	.img-services, .icons-services{display: none;}
	.text-blue{color: #000000; text-decoration: none;}
	.text-services{padding: 0; font-size: 14px; text-align: center;}
	.text-services:nth-child(2){display: none;}

	.top_sells-blocks, .work-blocks{display: none;}
	.sell-block{width: 100%!important; margin-left: 0!important; text-align: center!important;}
	#top_sells .item{width: 230px!important;}

	.bx-wrapper{padding: 0 35px!important;}
	.bx-wrapper .bx-prev{left: 0!important;}
	.bx-wrapper .bx-next{right: 0!important;}
	
	#order{background: #ffffff; padding: 40px 0 47px;}
	.main-form{padding: 24px 26px;}
	.order-form form{margin: 0 auto;}

	#works .title_section{margin: 0 0 22px;}
	#works .item{width: 230px!important;}
	#works .bx-wrapper {padding: 0 30px!important;}
	#works button{padding: 14px 27px 19px 20px;}
 
	#map{height: 303px;}
	
	#contacts{background-size: cover; padding-bottom: 0px;}
	.contacts-blocks{width: 100%!important; margin-bottom: 35px;}
	.contacts-adress{text-align: left;}

	#footer {padding: 40px 60px;}
	.footer-left, .footer-right{text-align: center;}
	.social-block{display: flex; width: 100%; justify-content: space-around; margin-bottom: 30px;}


	.shingles:hover{border-radius: 50%!important;}

	.shingles:hover .shingles-price{
		display: block;
		background: #2b3143;
	}
	.shingles:hover .price{
		background: #2b3143;
		border-radius: 0 0 4px 4px!important;
	}
	.shingles:hover .bg_sells{
		background: #2b3143;
		border-top: 2px solid #fff;
		border-radius: 0 0 4px 4px!important;
	}

}



.bx-pager{display: none;}

.bx-wrapper .bx-prev{background: url(../bxslider/images/arr-left.png) center no-repeat!important;}
.bx-wrapper .bx-next{background: url(../bxslider/images/arr-right.png) center no-repeat!important;}

#catalog .bx-wrapper .bx-prev, #works .bx-wrapper .bx-prev{background: url(../bxslider/images/arr-left-white.png) center no-repeat!important;}
#catalog .bx-wrapper .bx-next, #works .bx-wrapper .bx-next{background: url(../bxslider/images/arr-right-white.png) center no-repeat!important;}

/*header*/



.flex-icons {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}