body{

    font-family: 'Open Sans', sans-serif!important;
    color: #273243!important;
    font-size: 15px!important;
    background: url('../img/bg.png') center repeat;
    width: 100%
}

#subscription{
    background-color: #ffffff;
    padding-bottom: 10px;
}
.center{
    width: 100%;
    text-align: center;
}
#subscription form {
    box-shadow: 0 25px 45px -20px #333;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 100px;

}
#subscription form  input[type="text"] {
    width: 70%;
    height: 55px;
    border: none;
    border-bottom: 1px solid #2d3a5c;
    outline: none;
    margin-top: 10px;
}

ul.breadcrumb {
    /* padding: 10px 16px; */
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: transparent;
    border-radius: 0!important;
}
bootstrap.min.css:5
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}
ul.breadcrumb li a {
    color: #1a60b3;
    text-decoration: underline;
    padding: 0;
}
#breadcrumbs {
    padding-top: 40px;
    background-color: #fff!important;
}

.text{
    text-align: center;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
input[type=radio] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 2px solid #346dc9;
}
.radio label:before {
    border-radius: 10px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #363d52;
    font-size: 45px;
    text-align: center;
    line-height: 13px;
}
.text2 {
    font-size: 15px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 15%;
}

.checkbox label, .radio label {
    padding-left: 30px !important;}

.main-form {
    padding: 50px 180px;
}

#subscription button{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    width:180px;
    height: 45px;
    /*    padding: 13px 95px;*/
    border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top right, #293658 0%, #98a0af 70%);
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    margin: 3%;
}

.slider_menu {
    margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    #requisites input{
        width: 100%;
        height: 50px;
    }
    #requisites textarea {
        display: none;}
}
@media (max-width: 767px) {

    #requisites input{
        width: 100%;
        height: 50px;
    }
    #requisites textarea {
        display: none;}
    #requisites form{
        margin-top: 250px;
    }
    .slider_menu {
        margin-bottom: 0px;
    }
    .contacts-logo {
        text-align: center !important;
    }
    .contacts-adress {
        padding-left: 0px!important; 
    }

}
@media (max-width: 715px) {
    nav.navbar.navbar-default {
        background-color: #f8f8f8 !important;}
    #requisites input{
        width: 100%;
        height: 50px;
    }
    .main-form {
        padding: 50px 20px !important;}
    #requisites button{
        margin-left: 10px;
    }
}
@media (max-width: 480px) {
    .contacts-logo {
        text-align: left !important;
    }
    /*
    .contacts-adress {
    padding-left: 0px!important; 
}
    */

}