body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}
#text-page{
    padding: 40px 0;
    text-align: center;
    background-color: #ffffff;
/*    margin-bottom: 290px;*/
}
#text-catalog{
/*    padding: 40px 0;*/
    text-align: center;
    background-color: #ffffff;
/*    margin-bottom: 290px;   */
}

#text-catalog .title_section{
	margin-bottom: 28px;
    padding-top: 60px;
}
#text-page h2.title_section{
font-size: 36px;
}
#text-page h3.title_section{
font-size: 26px;
}
#text-catalog .products1{
	background: url(../img/catalog/img-1.png) center no-repeat;
    box-shadow: 0 25px 45px -20px #333;
}

#text-catalog .products1:hover {
	background: url(../img/catalog/1.png) center no-repeat;
}
#text-catalog .title{
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
     padding-top: 25px!important;
}
#text-catalog .title2{
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;	
}


#text-catalog a{
	border-radius: 0 0 4px 4px;
	width: 100%;
	position: absolute;
    min-height: 70px;
	bottom: 0;
	left: 0;
	display: block;
	padding: 15px 0;
	background-color: #0d46a2;
	background-image: -webkit-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
	background-image: -o-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
	background-image: linear-gradient(30deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
}

#text-catalog a:hover{
	text-decoration: none;
	background-color: #6a799b;
}

#text-catalog .catalog-blocks{
	margin-bottom: 40px;
}
#text-page .text {
     text-align: left; 
}
#text-page .title_section{
	text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

#text-page  li {
    list-style-type: none; 
   }
#text-page li:before {
    content: ">"; 
    color: #1c4d9d;
    font-weight: bold;
    padding-right: 10px;
   }
#text-page ul  li {
   text-align: left;
    line-height: 2;
   }
#text-page table {
font-size: 18px;
/*border-collapse: collapse;*/
text-align: center;
    font-weight:lighter;
}
.head-table{
/*    font-family: OpenSans;*/
background-image: linear-gradient(to left, #376db3 0%, #1c4d9d 70%);
color: white;
padding: 10px 45px!important;
}
#text-page th{
/*    font-family: OpenSans;*/
    padding: 10px 45px;
}
#text-page td {
background: #f5f5f5;
    padding: 10px 45px !important;
}
.head-table {
text-align: left;
}
.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    /*display: none;*/
}



.href-slider{
	color: white;
	text-decoration: none;
}

.href-slider:hover {
	color: white;
	text-decoration: none;
}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
/*			position: absolute;*/
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Заголовок 1"; }
		td:nth-of-type(2):before { content: "Заголовок 2"; }
		td:nth-of-type(3):before { content: "Заголовок 3"; }
/*		td:nth-of-type(4):before { content: "Сумма"; }*/
/*
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Porn Name"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; }
*/
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
/*
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	 Zebra striping 
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
*/
	
	
	

@media (min-width: 768px) and (max-width: 991px) {
	#requisites input{
		width: 100%;
    	height: 50px;
	}
	#requisites textarea {
		display: none;}
	.catalog-blocks, .work-blocks {
    display: block !important;}
}
@media (max-width: 767px) {
	
.sr-only {
    	margin-right: 40% !important;}
	.slider_menu {
    margin-bottom: 0px;
}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	.head-table {
		display: none;}
	.catalog-blocks, .work-blocks {
    display: block !important;}
	
}
@media (max-width: 715px) {
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
		#requisites input{
		width: 100%;
    	height: 50px;
	}
	.main-form {
    padding: 50px 20px !important;}
	#requisites button{
		margin-left: 10px;
	}
}
@media (max-width: 480px) {
	.contacts-logo {
    text-align: left !important;
}
/*
	.contacts-adress {
     padding-left: 0px!important; 
}
*/
	#text-page td {
    padding: 10px 15px !important;
}
	
}
