body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%;
	overflow-x: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.fix{
	width: 980px; 
	margin: 0 auto;

	}

	.fix1{
		width: 1140px;
		margin: 0 auto;
	}
}

.row{
	margin-right: auto!important;
    margin-left: auto!important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.title_section{
	font-size: 42px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 28px;
}

.text-blue{
	color: #1a60b3;
	text-decoration: underline;
}

.no-padding{
	padding: 0!important;
}

.line-through{
	text-decoration: line-through;
}

.button-dark{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    border: none;
}

button.button-dark:hover{
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

input, button{outline: none;}

/*menu*/

#menu{
	background-color: #2562c5;
	background-image: -webkit-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: -o-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
}

.navbar-collapse{
	padding: 22px 60px!important;
	border: none!important;
	box-shadow: none!important;
}

.navbar{
    position: relative;
    height: auto!important;
    margin: 0!important;
    border: none!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 32px;
	border-right: 1px solid #afcce2;
}

.navbar-default{
	box-shadow: none!important;
	border: none!important;
	background: transparent!important;
}

.navbar-default .navbar-nav>.active>a{
    background: transparent!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>li:last-child a{
	border-right:none;
}

/*breadcrumbs*/
#breadcrumbs{
	padding-top: 40px;
	background-color: #fff!important;
}
/* Style the list */
ul.breadcrumb {
   /* padding: 10px 16px;*/
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: #fff!important;
    border-radius: 0!important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    color: #273243;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #1a60b3;
	text-decoration: underline;
	padding: 0;
	line-height: 20px;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*ordering*/
#user{
	background-color: #ffffff;
	padding-bottom: 141px;
}

#user h2{
	text-align: center;
	font-size: 42px;
	color: #0f1320;
	margin: 36px 0!important;
}

form{
	box-shadow: 0 34px 60px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	background-color: #ffffff;
	position: relative;
	margin-top: 75px;
	text-align: center;
}

.title_form{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 21px 0 17px;
	color: #fff;
	font-size: 22px;
	background-color: #1c4d9d;
	background-image: -webkit-linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
	background-image: -o-linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
	background-image: linear-gradient(52deg, rgba(28, 77, 157, 0.55) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.main-form{
	padding: 12px 185px 0;
}

.form-content{
	float: left;
	width: calc(50% - 42px);
}

.form-content+.form-content{
	margin-left: 84px;
}


#user input[type="text"]{
	border: none;
	border-bottom: 1px solid #2d3a5c;
	width: 100%;
	text-align: left;
	color:  #2d3a5c;
	padding-bottom: 10px;
}
#user input[type="text"]:focus { 
	outline: none; 
	border-bottom: 1px solid #376db3;
	color: #376db3;
}

#user input[type="text"]:-moz-placeholder {
	color: #475975;
}
#user input[type="text"]::-webkit-input-placeholder {
	color: #475975;
}

#user button{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 14px 49px 19px;
	border-radius: 4px;
	background-color: #293658;
	background-image: -webkit-linear-gradient(30deg, #293658 0%, #ffffff 100%);
	background-image: -o-linear-gradient(30deg, #293658 0%, #ffffff 100%);
	background-image: linear-gradient(30deg, #293658 0%, #ffffff 100%);
	border: none;
	margin-bottom: 52px;
	text-align: center;
}

#user button:hover{
	background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%)
}

#user p{
	/*margin: 17px 25px 47px;*/
	display: inline-block;
}


#user .form-name{
	width: 100%;
}

#user input{
	margin-top: 40px;
}

.social-content{
	padding: 40px 0;
}

.socials a i{
	margin-left: 20px;
}

@media (min-width: 1200px) {
	.fix{width: 1200px;
		margin: 0 auto;
	}

	.fix1{
		width: 1200px;
		margin: 0 auto;
	}

}


/* Landscape tablets and medium desktops */
/*@media (min-width: 992px) and (max-width: 1199px) {

}*/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.fix{width: 730px;
		margin: 0 auto;
	}

	.fix1{
		width: 100%;
		margin: 0 auto;
	}

	#header{display: none;}
	
	form {margin-top: 20px;}
	.main-form {padding: 12px 50px 0;}
	#user{padding-bottom: 50px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

	#header{display: none;}
	form {margin-top: 0;}
	.main-form {padding: 12px 50px 0;}
	#user{padding-bottom: 50px;}
	.form-content+.form-content{margin-left: 20px;}
	.form-content {width: calc(50% - 10px);}
	#user p{display: block}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.fix{
		width: 300px;
		margin: 0 auto;
	}

	.title_section{padding-top: 40px!important; font-size: 32px;}

	.form-content{width: 100%;}
	.form-content+.form-content{margin-left: 0;}

	#menu{background: #fff;}

}


.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (max-width: 767px) {
	.slider_menu {
    margin-bottom: 0px;
}
	.time-menu>img{
		margin-right: 0 !important;
	}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}
@media (max-width: 715px) {
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
}
@media (max-width: 480px) {
	.contacts-logo {
    text-align: left !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}