body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}

@media (min-width: 980px){
	.fix{
		width: 980px; 
		margin: 0 auto;
	}
}

.fix1{
	width: 1140px;
	margin: 0 auto;
}

.row{
	margin-right: auto!important;
    margin-left: auto!important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.title_section{
	font-size: 42px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 28px;
}

.text-blue{
	color: #1a60b3;
	text-decoration: underline;
}

.no-padding{
	padding: 0!important;
}

.line-through{
	text-decoration: line-through;
}

.block-230{
	max-width: 230px;
	height: 200px;
	border-radius: 4px;
	text-align: center;
	margin: 0 5px;
	position: relative;
}

.button-dark{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    border: none;
}

button.button-dark:hover{
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

/*contacts*/


#contacts a, span{
	color: #fff;
}

.contacts-right{
	float: right;
}

.contacts-logo{
	text-align: center;	
}

.contacts-adress{
padding-left: 80px!important;}

/*footer*/
#footer{
	background-color: #1f2332;
	padding: 25px 0 10px;
	color: #3e4660;
	font-size: 13px;
	line-height: 25px;
}

.social{
	padding-left: 70px!important;
}

#footer a i{
	color: #fff;
	margin-left: 24px;
	float: left;
}

#footer a i:hover{
	color: #a8afcd;
}


/*info-block*/
.time, .mailto{
	float: left;
	font-size: 13px;
	color: #2d3a5c!important;
	padding: 20px 0 0;
}
#info-block {
	padding: 30px 0;
	position: relative;
}

#info-block a{
	text-decoration: none;
}

.info-upper{
	text-transform: uppercase;
	padding-top: 5px;
}

#info-block button{
	padding: 15px 47px;
}

.telto{
	color: #1e3f6e;
	font-size: 24px;
}

.information{
	text-align: center;
}

.mailto a{
	color: #2d3a5c;
}



/*header*/

#header{
	color: #fff;
	background-color: #2b3143;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

#header p{
	float: left;
	padding: 10px 20px;
	margin: 0;
}

.menu-left{
	float: left;
}

.menu-right{
	float: right;
}

.links-bg{
	background-color: #363d52;
	padding: 10px 0;
	color: #96a0ae;
	display: inline-block;
}

.links-bg a{
	color: #96a0ae!important;
}

.links{
	display: inline-block;
	padding: 10px 0;
	color: #fff;
}

#header a{
	margin: 0;
	padding: 0 20px;
	border-right: 1px solid #96a0ae;
	color: #fff;
}

#header a:hover{
	text-decoration: none;
}

#header a:last-child{
	border: none;
}

#header i{
	color: #fff;
}

#header i:hover{
	color: #fff;
}

/*menu*/

#menu{
	background-color: #2562c5;
	background-image: -webkit-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: -o-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
}

.navbar-collapse{
	padding: 22px 60px!important;
	border: none!important;
	box-shadow: none!important;
}

.navbar{
    position: relative;
    height: auto!important;
    margin: 0!important;
    border: none!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 32px;
	border-right: 1px solid #afcce2;
}

.navbar-default{
	box-shadow: none!important;
	border: none!important;
	background: transparent!important;
}

.navbar-default .navbar-nav>.active>a{
    background: transparent!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>li:last-child a{
	border-right:none;
}

/*breadcrumbs*/
#breadcrumbs{
	padding-top: 40px;
	background-color: #fff!important;
}
/* Style the list */
ul.breadcrumb {
   /* padding: 10px 16px;*/
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: #fff!important;
    border-radius: 0!important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    color: #273243;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #1a60b3;
	text-decoration: underline;
	padding: 0;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*ordering*/
#ordering{
	background-color: #ffffff;
	padding-bottom: 164px;
}

#ordering h2{
	text-align: center;
	height: 42px;
	color: #0f1320;
	margin: 36px 0!important;
}

#ordering p{
	color: #273243;
	margin-bottom: 20px;
}

#ordering a{
	color: #1a60b3;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
}

#ordering button{
	padding: 17px 76px 19px 74px;
	margin-top: 16px;
}

.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
	#requisites input{
		width: 100%;
    	height: 50px;
	}
	#requisites textarea {
		display: none;}
}
@media (max-width: 767px) {
	
.sr-only {
    	margin-right: 40% !important;}
	.slider_menu {
    margin-bottom: 0px;
}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	
}
@media (max-width: 715px) {
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
		#requisites input{
		width: 100%;
    	height: 50px;
	}
	.main-form {
    padding: 50px 20px !important;}
	#requisites button{
		margin-left: 10px;
	}
}
@media (max-width: 480px) {
	.contacts-logo {
    text-align: left !important;
}
/*
	.contacts-adress {
     padding-left: 0px!important; 
}
*/
	
}