body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}

@media (min-width: 980px){
	.fix{
		width: 980px; 
		margin: 0 auto;
	}
}

.fix1{
	width: 1140px;
	margin: 0 auto;
}

.row{
	margin-right: auto!important;
    margin-left: auto!important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.title_section{
	font-size: 42px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 28px;
}

.text-blue{
	color: #1a60b3;
	text-decoration: underline;
}

.no-padding{
	padding: 0!important;
}

.line-through{
	text-decoration: line-through;
}

.block-230{
	max-width: 230px;
	height: 200px;
	border-radius: 4px;
	text-align: center;
	margin: 0 5px;
	position: relative;
}


/*leaders of sells*/
#top_sells{
	padding: 40px 0;
	text-align: center;
	background-color: #ffffff;
}

@media (min-width: 980px){
	.shingles{
	max-width: 230px;
	margin: 10px 5px 0;
	box-shadow: 0 34px 60px rgba(0, 0, 0, 0.35);
	border-radius: 4px!important;
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
}

	.shingles:hover .shingles-price{
		display: block !important;
		background: #2b3143;
	}
	.shingles:hover .price{
		background: #2b3143;
		border-radius: 0 0 4px 4px!important;
	}
	.shingles:hover .bg_sells{
		background: #2b3143;
		border-top: 2px solid #fff;
		border-radius: 0 0 4px 4px!important;
	}
}

.bg_sells{
	background-color: #1c4d9d;
	background-image: linear-gradient(52deg, rgba(48, 101, 173, .55) 0%, rgba(35, 85, 162, .55) 100%);
	padding-top: 20px;
	border-top: 2px solid transparent;
	border-radius: 0 0 4px 4px;
}

.products{
	margin-bottom: 40px;
	text-align: center;
}

.shingles:last-child{
	margin-right: 0;
}
.shingles:first-child{
	margin-left: 0;
}

#top_sells img{
	width: 100%;
	height: 200px;
	/*padding-bottom: 22px;*/
}

#top_sells .title{
	color: #ffffff;
	line-height: 22px;
	text-decoration: underline;
	margin: 22px 0;
}

#top_sells .title_section{
	margin-bottom: 27px;
}

.price{
	color: #aec6f2;
	font-size: 24px;
	line-height: 22px;
	padding: 22px 0 29px;
	margin: 0;
}
.fa{
	color: #ffba01;
	padding-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.info{
	padding: 0 20px;
	z-index: 5;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	font-size: 12px;
	top: 56%;
	left: 0;
	box-shadow: 0 1px 0 #252525;
	border-radius: 0 12px 12px 0;
	background-color: #2b3143;
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.top_sells-btn{
	color: #ffffff;
	font-size: 13px;
	border: none;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #2f3d63;;
	background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
	float: left;
}

.btn-page{
	padding: 17px 21px;
	margin-right: 20px;
}

.btn-caption{
	padding: 17px 46px 19px 45px;
}

.top_sells-buttons{
	padding-left: 290px;
}

.top_sells-btn:hover{
	text-decoration: none;
	color:  #ffffff;
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

#top_sells ul{
	list-style-type: none;
	float: left;
    padding: 7px 0;
    margin-left: 3px;
}

.shingles-price{
	padding: 17px 15px 27px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: none;
}


#top_sells ul li{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	float: left;
	margin: 0 4px;
	border: 3px solid transparent;
}

#top_sells form{
	text-align: center;
}

#top_sells form > label{
	margin: 0 5px 0;
	line-height: 25px;
}

.radiobtn {
	display: inline-block;
}

.radiobtn + .radiobtn {
	margin-left: 5px;
}

.radiobtn input {
	display: none;	
}
.radiobtn label {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #69c;
	transition: .1s ease-in;
	margin: 0;
}

.radiobtn label:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 21px;
	height: 21px;
	border: 2px solid #d8d8d8;
	border-radius: 50%;
	transition: .1s ease-in;
}

.radiobtn label:after {
	opacity: 0;
}

.radiobtn label:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.radiobtn input:checked + label:after {
	opacity: 1;
}

.radiobtn label.color-red {background-color: #ce3838;}
.radiobtn label.color-green{background-color: #1e9150;}
.radiobtn label.color-blue{background-color: #417fd0;}
.radiobtn label.color-white{background-color: #ffffff;}
.radiobtn label.color-grey{background-color: #696969;}
.radiobtn label.color-beige{background-color: #dda07e;}

.radiobtn label.color-red:after,
.radiobtn label.color-green:after,
.radiobtn label.color-blue:after,
.radiobtn label.color-white:after,
.radiobtn label.color-grey:after,
.radiobtn label.color-beige:after,
 {
	border-color: #d8d8d8;
}

#top_sells input[type="text"]{
	border-radius: 15px 15px 15px 14px;
	border: 1px solid #a8b8de;
	background: transparent;
	color: #fff;
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

#top_sells input[type="text"]:focus,
#top_sells input[type="button"]:focus {
	outline:none;
}

#top_sells ul li:hover{
	 outline: 2px solid #000;
	 border-radius: 50%
}

#top_sells input[type="text"]:-moz-placeholder {
	color: #fff;
}
#top_sells input[type="text"]::-webkit-input-placeholder {
	color: #fff;
}

#top_sells input[type="button"] {
	position: absolute; 
	top: 56px;
	border: none;
	background-color: transparent;
	font-size: 16px;
}

#top_sells .plus{
	right: 80px;
}

#top_sells .minus{
	left: 80px;
}

#top_sells form button{
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	background-image: linear-gradient(30deg, #a8b8de 0%, #eaf4fa 100%);
	padding: 15px 50px;
	margin: 15px 0 5px;
}

#top_sells form p{
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

#top_sells form a{
	color: #aec6f2;
}


/*contacts*/

#contacts a, span{
	color: #fff;
}

.contacts-right{
	float: right;
}

.contacts-logo{
	text-align: center;	
}

.contacts-adress{
padding-left: 80px!important;}

/*footer*/
#footer{
	background-color: #1f2332;
	padding: 25px 0 10px;
	color: #3e4660;
	font-size: 13px;
	line-height: 25px;
}

.social{
	padding-left: 70px!important;
}

#footer a i{
	color: #fff;
	margin-left: 24px;
	float: left;
}

#footer a i:hover{
	color: #a8afcd;
}


/*info-block*/
.time, .mailto{
	float: left;
	font-size: 13px;
	color: #2d3a5c!important;
	padding: 20px 0 0;
}
#info-block {
	padding: 30px 0;
	position: relative;
}

#info-block a{
	text-decoration: none;
}

.info-upper{
	text-transform: uppercase;
	padding-top: 5px;
}

#info-block button{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px 47px;
	border-radius: 4px;
    background-color: #2f3d63;
    background-image: linear-gradient(to top, #293658 0%, #6d7b98 100%);
    border: none;
}

#info-block button:hover{
	background-image: linear-gradient(52deg, rgba(127, 127, 127, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.telto{
	color: #1e3f6e;
	font-size: 24px;
}

.information{
	text-align: center;
}

.mailto a{
	color: #2d3a5c;
}



/*header*/

#header{
	color: #fff;
	background-color: #2b3143;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

#header p{
	float: left;
	padding: 10px 20px;
	margin: 0;
}

.menu-left{
	float: left;
}

.menu-right{
	float: right;
}

.links-bg{
	background-color: #363d52;
	padding: 10px 0;
	color: #96a0ae;
	display: inline-block;
}

.links-bg a{
	color: #96a0ae!important;
}

.links{
	display: inline-block;
	padding: 10px 0;
	color: #fff;
}

#header a{
	margin: 0;
	padding: 0 20px;
	border-right: 1px solid #96a0ae;
	color: #fff;
}

#header a:hover{
	text-decoration: none;
}

#header a:last-child{
	border: none;
}

#header i{
	color: #fff;
}

#header i:hover{
	color: #fff;
}

/*menu*/

#menu{
	background-color: #2562c5;
	background-image: -webkit-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: -o-linear-gradient(bottom, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
	background-image: linear-gradient(to top, hsla(220, 75%, 41%, .78) 0%, rgba(38, 99, 197, .78) 10%, rgba(55, 117, 206, .78) 25%, rgba(68, 130, 211, .78) 75%, rgba(64, 125, 209, .78) 100%);
}

.navbar-collapse{
	padding: 22px 60px!important;
	border: none!important;
	box-shadow: none!important;
}

.navbar{
    position: relative;
    height: auto!important;
    margin: 0!important;
    border: none!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 32px;
	border-right: 1px solid #afcce2;
}

.navbar-default{
	box-shadow: none!important;
	border: none!important;
	background: transparent!important;
}

.navbar-default .navbar-nav>.active>a{
    background: transparent!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>li:last-child a{
	border-right:none;
}

/*breadcrumbs*/
#breadcrumbs{
	padding-top: 40px;
	background-color: #fff!important;
}
/* Style the list */
ul.breadcrumb {
   /* padding: 10px 16px;*/
    list-style: none;
    padding: 0!important;
    margin-bottom: 0!important;
    list-style: none;
    background-color: #fff!important;
    border-radius: 0!important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    color: #273243;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: "";
    background: url(../img/arrow-bread.png) center no-repeat;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #1a60b3;
	text-decoration: underline;
	padding: 0;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}



@media (max-width: 320px){
	.fix{width: 300px; padding: 0 10px; margin: 0 auto;}
	#header, #slider {display: none;}

	#works .fix{width: 300px; padding: 0 35px;}
	#works {padding: 0;}
	#works .img-2, .img-3, .img-4 {display: none;}
	#works button{margin-top: 40px; padding: 14px 29px 19px; float: left;}
	#map{width: 100%;	height: 303px;}
	/*contacts*/
	#contacts{background-size: cover; padding: 20px 0px; font-size: 13px;}
	/*footer*/
	#footer{padding: 39px 0!important;}
	#footer p {text-align: center;}
	.social{padding-left: 25px!important;}
	#footer a i{margin-left: 30px; padding: 0!important;}
	.footer-right{margin-bottom: 20px;}
}

.center{
margin-left: 10%;
}
.slider_menu {
     margin-bottom: 0px !important; 
}
.slider-main {
    display: none;
}
@media (max-width: 1110px){
		.center{
margin-left: 0;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	#requisites input{
		width: 100%;
    	height: 50px;
	}
	.center{
margin-left: 0;
}
	#requisites textarea {
		display: none;}
}
@media (max-width: 767px) {
	
.sr-only {
    	margin-right: 40% !important;}
	.slider_menu {
    margin-bottom: 0px;
}
		.contacts-logo {
    text-align: center !important;
}
	.contacts-adress {
     padding-left: 0px!important; 
}
	#top_sells input[type="button"] {
    top: 50px !important;
}
	.shingles-price {
		width: 100%;}
	#top_sells .plus {
    right: 300px !important;
}
	#top_sells .minus {
    left: 300px !important;
}
	.title_section {
		font-size: xx-large;}
	
}
@media (max-width: 715px) {
	.btn-page {
    padding: 10px 12px;
    margin-right: 10px;
}
	.btn-caption {
    padding: 10px 25px 12px 25px;
}
	#top_sells input[type="button"] {
    top: 35px !important;
}
	#top_sells .plus {
    right: 50px !important;
}
	#top_sells .minus {
    left: 220px !important;
}
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}
		#requisites input{
		width: 100%;
    	height: 50px;
	}
	.main-form {
    padding: 50px 20px !important;}
	#requisites button{
		margin-left: 10px;
	}
}
@media (max-width: 480px) {
	#top_sells input[type="button"] {
    top: 60px !important;
}
	#top_sells .plus {
    right: 90px !important;
}
	#top_sells .minus {
    left: 90px !important;
}
	.contacts-logo {
    text-align: left !important;
}
/*
	.contacts-adress {
     padding-left: 0px!important; 
}
*/
	
}