.clear {
	clear: both;
}

.nav>li>a {
	position: relative;
}

.nav>li>a:after {
	content: " ";
	position: absolute;
	top: -23px;
	bottom: -23px;
	left: 0;
	right: 0;
}

.navbar-collapse.collapse {
	position: relative;
}

.nav>li {
	position: initial !important;
}

.big_submenu_wrap {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: #282d3e;
	z-index: 20;
}

@media (min-width: 1140px) {
	.navbar-nav > li:hover .big_submenu_wrap {
		display: block;
	}
}

.big_submenu {
	margin: 35px 20px 35px 80px;
	position: relative;
}

.big_submenu a:hover {
	text-decoration: none;
}

.submenu {
	width: 260px;
}

.subment_right_content {
	display: flex;
	width: 100%;
	border-radius: 3px;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 15px 0 15px 0;
}
.subment_right_content > * {
	display: flex;
}

.subment_right_content_wrap {
	display: none;
	overflow: auto;
	max-height: 500px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 255px;
	background: #343b52;
}

.subment_right_content:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 1px;
	background: #272D43;
	top: 5px;
	bottom: 15px;
}

.submenu:hover {
	background: #343b52;
}

.submenu:hover .subment_right_content_wrap {
	display: block;
}

.level2_submenu_item, .level3_submenu_item {
	margin-right: 25px;
	margin-left: 60px;
	box-sizing: border-box;
	width: calc(50% - 25px - 60px);
}

.level1_submenu_item {
	position: relative;
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	width: 255px;
	box-sizing: border-box;
	padding-left: 40px;
	border-radius: 3px 0 0 3px;
}

.level1_submenu_item:before {
	content: " ";
	position: absolute;
    width: 7px;
    height: 10px;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	background: url(img/menu_arrows.png) no-repeat 0px -46px;
}

.level1_submenu_item:hover:before {
	background-position: 0px 0px;
}

.level1_submenu_item:hover {
	color: #adc6ff;
	background: #343b52;
}

.submenu + .submenu > .level1_submenu_item:after {
	content: " ";
	position: absolute;
	background: #313646;
	height: 1px;
	top: 0;
	left: 0;
	right: 0;
}

.level2_submenu_item {
	color: #adc6ff;
	display: block;
	margin-bottom: 15px;
}

.level2_submenu_item:hover {
	color: #adc6ff;
}

.level3_submenu_item {
	padding: 5px 0 5px 20px;
	position: relative;
	color: #ffffff;
	display: block;
}

.level3_submenu_item:hover {
	color: #000000;
	background: #808ba9;
}

.level3_submenu_item:hover:before {
	display: none;
}

.level3_submenu_item:before {
	content: "-";
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.level3_submenu_item + .level2_submenu_item {
	margin-top: 25px;
}

#top_sells img {
	display: inline-block;
}

#catalog .products1 {
	position: relative;
}
#catalog .products1:after {
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	top: 0;
	background: rgba(80, 80, 200, 0.5);
}

#catalog .products1:hover:after {
	display: none;
}

/*#page-catalog span {
    border-radius: 0 0 4px 4px;
    width: 99%;
    position: absolute;
    min-height: 89px;
    bottom: -68px;
    left: 2px;
    display: block;
    padding: 15px 0;
    background: -webkit-linear-gradient(310deg, #2f2e2c, #758c96)!important;
    background: -o-linear-gradient(310deg, #2f2e2c, #758c96)!important;
    background: linear-gradient(40deg, #232736, #43495c)!important;
    box-shadow: 0 25px 45px -20px #333;
    background-image: -webkit-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
    background-image: -o-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
    background-image: linear-gradient(30deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
    text-decoration: underline;
}*/

#ordering2 .form_block label {
	font-weight: 300;
}

#ordering2 .serv {
	padding-top: 0;
}

#ordering2 .form_block span {
    color: #273243;
    vertical-align: middle;
}

#card_product form.buy input[type="button"] {
	right: 78px;
}

#basket input[type="text"] {
	padding: 8px 22px 8px 2px;
	text-align: center;
}



.private_info:after {
	background-position-x: 0;
}

.private_orders:after {
	background-position-x: -210px;
}

.private_subscribe:after {
	background-position-x: -420px;
}


.private_info, .private_orders, .private_subscribe {
	position: relative;
}

.private_info:after, .private_orders:after, .private_subscribe:after {
	position: absolute;
	content: ' ';
	width: 70px;
	height: 70px;
	background-image: url(img/icons/icons.png);
	background-repeat: no-repeat;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	background-position-y: -240px;
}

.private_info:hover:after, .private_orders:hover:after, .private_subscribe:hover:after {
	background-position-y: 0;
}

.info-icons a:last-child:before {
	display: none;
}

ul.breadcrumb li a span {
    color: rgb(26, 96, 179);
}

body {
	padding-bottom: 0;
	text-align: left;
}

#header {
	background-image: none;
}