body{

	font-family: 'Open Sans', sans-serif!important;
	color: #273243!important;
	font-size: 15px!important;
	background: url('../img/bg.png') center repeat;
	width: 100%
}
#page-catalog{
    text-align: center;
    background-color: #ffffff; 
    padding-bottom: 100px;

}
@media (min-width: 980px){
.fix {
    width: 980px !important;
    margin: 0 auto;
}
}
#page-catalog .title_section{
	margin-bottom: 28px;
    padding-top: 60px;
}
#page-catalog h2.title_section{
font-size: 36px;
}
#page-catalog h3.title_section{
font-size: 26px;
}
#page-catalog .products1{
	background: url(../img/catalog/img-8.png) center no-repeat;
    box-shadow: 0 25px 45px -20px #333;
    border-radius: 8px;
}

#page-catalog .products1:hover {
	background: url(../img/catalog/8.png) center no-repeat;
    border-radius: 8px;
}
#page-catalog .title{
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
     padding-top: 25px!important;
}



#page-catalog a{
    border-radius: 0 0 4px 4px;
    width: 99%;
    position: absolute;
    min-height: 89px;
    bottom: -68px;
    left: 2px;
    display: block;
    padding: 15px 0;
background: -webkit-linear-gradient(310deg, #2f2e2c, #758c96)!important;
background: -o-linear-gradient(310deg, #2f2e2c, #758c96)!important;
background: linear-gradient(40deg, #232736, #43495c)!important;
    box-shadow: 0 25px 45px -20px #333;
    background-image: -webkit-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
    background-image: -o-linear-gradient(300deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
    background-image: linear-gradient(30deg, hsla(217, 85%, 34%, .55) 0%, rgba(26, 96, 179, .55) 100%);
     text-decoration: underline;
}

#page-catalog a:hover{
	text-decoration: underline;
/*	background-color: #6a799b;*/
   background: linear-gradient(310deg, #3a3f4f, #3d4548)!important;
}


#page-catalog .catalog-blocks{
	margin-bottom: 100px;
    
}
#page-catalog .products1{
		margin-bottom: 120px !important;
	}
.otst{
    margin-bottom: 60px;
}
.row.fix1.slider-main {
    display: none;
}
.slider_menu {
    margin-bottom: 0px!important;
}
@media (min-width: 768px) and (max-width: 991px) {
	.catalog-blocks {
    display: block;
}
	.block-230 {
		margin: 40px 5px !important;
	
	}
	#page-catalog .products1 {
    margin-bottom: 50px !important;
}
	
}

@media (max-width: 767px) {
	.slider_menu {
    	margin-bottom: 0px;}
	.sr-only {
    	margin-right: 40% !important;}
	.contacts-adress{
	padding-left: 0px !important;
}
.catalog-blocks {
    display: block;
}
	.block-230 {
		margin: 40px 5px !important;
	}
	#page-catalog .products1 {
    margin-bottom: 60px !important;
}
	
}


@media (max-width: 715px) {
	nav.navbar.navbar-default {
		background-color: #f8f8f8 !important;}

@media (max-width: 480px) {
	
}
	